<div class="text-justify vs-padding-y">
  <app-hero-section>
    <div hero-content data-aos="fade-up" data-aos-duration="500">
      <p class="vs-para-margin">
        We provide strategic business solutions to clients needing thorough analysis of extensive, varied sets of
        financial,
        operational, and transactional data. Our experts analyze connections between different systems and locations,
        search for
        particular transactions, and identify trends that could indicate fraudulent behavior. The company depends on
        several
        analytical software tools to combine different datasets into one repository, carry out various analyses on them,
        and
        uncover trends, patterns, and anomalies to identify fraud.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/wwpts_new_images/RPA-cropped.jpeg" class="xl:mt-12 object-cover w-screen"
        appImageViewer />
    </div>
  </app-hero-section>
  <div
    class="vs-padding bg-no-repeat xl:bg-repeat bg-[url('data:image/svg+xml;base64,PHN2ZyAgZmlsbD0iI2VmZjRmYSIgdmlld0JveD0iMCAwIDE5MjAgMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4gc2xpY2UiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgODg5LjIyIDE5MjAgNzM0LjI2IDEyNzkuOSAxMDM3Ljg4IDc4Ny42MSAwIDYzMi42NiAwIDEyMTMuNCAxMjI0LjM3IDE5MjAgODg5LjIyIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgNTc5LjMxIDE5MjAgNDI0LjM2IDE0MTIuODkgNjY0LjkgMTA5Ny41MSAwIDk0Mi41NiAwIDEzNDYuMzkgODUxLjM5IDE5MjAgNTc5LjMxIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgMjY5LjQxIDE5MjAgMTU3LjgxIDE4NDUuMTQgMCAxNjkwLjE5IDAgMTc3Ni43MiAxODIuNDIgMTU0NS44NyAyOTEuOTIgMTQzNi4zOCA2MS4wNyAxNTY1LjEzIDAgMTI1Mi40NiAwIDE0NzkuMzggNDc4LjQxIDE5MjAgMjY5LjQxIi8+CgkJCQkJCQkJCTwvZz48L3N2Zz4=')]">
    <section class="px-2">
      <div class="flex flex-wrap justify-around">
        <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
          <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-robot-business.png" />
          <h3 class="vs-heading_2xl mt-4 mb-1">Business Process Automation</h3>
          <a [routerLink]="['/services/rpa-analytics']" fragment="bpa"
            class="text-base font-semibold text-soa-link">Learn More ></a>
        </div>
        <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
          <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-robot-audit-cropped.png" />
          <h3 class="vs-heading_2xl mt-4 mb-1">Internal Audit Automation</h3>
          <a [routerLink]="['/services/rpa-analytics']" fragment="audit-automation"
            class="text-base font-semibold text-soa-link">Learn More ></a>
        </div>
        <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
          <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-robot.png" />
          <h3 class="vs-heading_2xl mt-4 mb-1">SOX Testing Automation</h3>
          <a [routerLink]="['/services/rpa-analytics']" fragment="sox-testing-automation"
            class="text-base font-semibold text-soa-link">Learn More ></a>
        </div>
        <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
          <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-robot-reporting-cropped.png" />
          <h3 class="vs-heading_2xl mt-4 mb-1">Financial Reporting Automation</h3>
          <a [routerLink]="['/services/rpa-analytics']" fragment="fin-report-automation"
            class="text-base font-semibold text-soa-link">Learn More ></a>
        </div>
      </div>
    </section>
  </div>
  <div class="bg-soa-bg-blue">
    <app-hero-section heading="RPA & DATA ANALYTICS" id="bpa">
      <div title>
        <h2 class="vs-heading">
          Business Process
        </h2>
        <h3 class="vs-heading_primary my-2">
          Automation
        </h3>
      </div>
    </app-hero-section>
    <section class="vs-margin-x">
      <div class="vs-text-content">
        <div class="grid grid-rows xl:grid-cols-2 gap-12">
          <div>
            <p class="my-2">Our team specializes in automating routine and repeatable business processes with Robotic
              Process Automation (RPA)
              through tailored robots (“bots”). Our domain expertise includes SMEs in Accounting, Revenue Recognition,
              SOX, and
              Internal Audit that assist the IT team with the RPA process.
            </p>
            <p class="my-2">RPA streamlines and standardizes repetitive business tasks, enhancing efficiency. We are
              neutral regarding the use of
              any established bot platform. Predictive analytics powered by ML can optimize process workflows.
            </p>
          </div>
          <div class="flex flex-col">
            <h4 class="font-bold text-xl">Benefits of Custom Bots on AIVER</h4>
            <img src="assets/wwpts_new_images/AIVER_rpa-graphic1.jpg" class="my-8" loading="lazy" appImageViewer />
          </div>
          <div>
            <h4 class="font-bold text-xl">Robotic Process Automation includes:</h4>
            <ul class="list-disc mx-6 my-4">
              <li>Bot Design</li>
              <li>RPA Platform Deployment</li>
              <li>RPA Governance Framework</li>
              <li>Bot Logging & Security</li>
              <li>Audit Readiness</li>
              <li>Training, Policies, and Procedures</li>
            </ul>
          </div>
          <div class="flex flex-col">
            <h4 class="font-bold text-xl">Driving Efficiency Through Automation</h4>
            <img src="assets/wwpts_new_images/AIVER_rpa-graphic2.png" class="my-8" loading="lazy" appImageViewer />
          </div>
        </div>
      </div>

      <div class="flex-col justify-center text-center vs-padding_default" data-aos="zoom-in" data-aos-duration="2000">
        <h4 class="font-semibold text-xl my-4">Visit our AIVER platform website to learn more about our RPA services and
          request a demo.</h4>
        <div class="mt-2 text-center">
          <button
            class="bg-white text-soa-primary px-4 py-2 font-semibold text-lg border-2 border-soa-primary hover:bg-soa-primary hover:text-white hover:mr-2">Learn
            More
            <span nz-icon nzType="arrow-right" nzTheme="outline" class="font-extralight mx-1" data-aos="fade-right"
              data-aos-duration="2000"></span></button>
        </div>
      </div>

    </section>
  </div>
  <div class="py-12">
    <app-hero-section heading="RPA & DATA ANALYTICS" id="audit-automation">
      <div title>
        <h2 class="vs-heading">
          Internal Audit
        </h2>
        <h3 class="vs-heading_primary my-2">
          Automation
        </h3>
      </div>
    </app-hero-section>
    <section class="vs-margin-x">
      <div class="vs-text-content">
        <p class="my-2">We create a tailored solution to conduct specific internal audit tests by utilizing the entire
          population and ensuring
          maximum coverage. The tailored solution is connected to the data origin, ERP/Software, and enables the user to
          conduct
          real-time testing. Embracing Artificial Intelligence and ML-based predictive models for error prevention and
          fraud
          detection leads to cost savings.
        </p>
        <div class="grid grid-rows xl:grid-cols-2 gap-12">
          <img src="assets/images/RPA-graphic-Dash-InternalAuditDash.png" class="my-8" loading="lazy" appImageViewer />
          <img src="assets/images/RPA-graphic-Dash-IATest.png" class="my-8" loading="lazy" appImageViewer />
        </div>
      </div>
      <div class="flex-col justify-center text-center vs-padding_default" data-aos="zoom-in" data-aos-duration="2000">
        <h4 class="font-semibold text-xl my-4">Visit our AIVER platform website to learn more about our RPA services and
          request a demo.</h4>
        <div class="mt-2 text-center">
          <button
            class="bg-white text-soa-primary px-4 py-2 font-semibold text-lg border-2 border-soa-primary hover:bg-soa-primary hover:text-white hover:mr-2">Learn
            More
            <span nz-icon nzType="arrow-right" nzTheme="outline" class="font-extralight mx-1" data-aos="fade-right"
              data-aos-duration="2000"></span></button>
        </div>
      </div>
    </section>
  </div>


  <div class="bg-soa-bg-blue py-12">
    <app-hero-section heading="RPA & DATA ANALYTICS" id="sox-testing-automation">
      <div title>
        <h2 class="vs-heading">
          SOX Testing
        </h2>
        <h3 class="vs-heading_primary my-2">
          Automation
        </h3>
      </div>
    </app-hero-section>
    <section class="vs-margin-x">
      <div class="vs-text-content">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-12">
          <div>
            <p class="my-2">We can create customized solutions for your SOX areas because we have technical accounting
              knowledge and domain
              expertise in SOX.
            </p>
            <p class="my-2">Following automation, each journal entry is put through a weekly battery of automated data
              analysis tests:
            </p>
            <ul class="list-disc mx-6 my-4">
              <li>In addition to checking controls, tests search for a variety of indicators of control weakness.</li>
              <li>The test's outcomes are then assigned a risk score.</li>
              <li>The internal audit team and an overall control owner are automatically notified when journal entries
                with high-risk
                scores need to be reviewed.</li>
            </ul>
          </div>
          <img src="assets/wwpts_new_images/sox_automate.jpg" class="object-cover" loading="lazy"
            appImageViewer />
        </div>
      </div>
      <div class="flex-col justify-center text-center vs-padding_default" data-aos="zoom-in" data-aos-duration="2000">
        <h4 class="font-semibold text-xl my-4">Visit our AIVER platform website to learn more about our RPA services and
          request a demo.</h4>
        <div class="mt-2 text-center">
          <button
            class="bg-white text-soa-primary px-4 py-2 font-semibold text-lg border-2 border-soa-primary hover:bg-soa-primary hover:text-white hover:mr-2">Learn
            More
            <span nz-icon nzType="arrow-right" nzTheme="outline" class="font-extralight mx-1" data-aos="fade-right"
              data-aos-duration="2000"></span></button>
        </div>
      </div>
    </section>
  </div>
  <div class="py-12">
    <app-hero-section heading="RPA & DATA ANALYTICS" id="fin-report-automation">
      <div title>
        <h2 class="vs-heading">
          Financial Reporting
        </h2>
        <h3 class="vs-heading_primary my-2">
          Automation
        </h3>
      </div>
      <div hero-content>
        <p class="vs-para-margin font-bold">
          ML can forecast financial trends based on historical data.
          <br>
          Our AIVER Platform is capable of:
        </p>
        <ul class="list-disc mx-6 my-4">
          <li>
            Create a report that includes all Annual Operating Plan (AOP) figures from any financial ERP system, along
            with historical data.
          </li>
          <li>Comprises all essential calculations from every downloaded ERP report.</li>
          <li>It allows for manual adjustments to the report data for any necessary forecasting changes.</li>
          <li>
            Automatically creates and transforms the report into Excel format or any other needed format like CSV.
          </li>
          <li>
            Creates a conclusive PowerPoint presentation featuring screenshots and all data computations prepared for
            your Board
            Meeting.
          </li>
        </ul>
      </div>
      <div hero-image>
        <img loading="lazy" src="assets/images/RPA-Reporting-BoardPackage.png" class="object-cover xl:mt-32"
          appImageViewer />
      </div>
    </app-hero-section>
    <div class="flex-col justify-center text-center vs-padding_default" data-aos="zoom-in" data-aos-duration="2000">
      <h4 class="font-semibold text-xl my-4">Visit our AIVER platform website to learn more about our RPA services and
        request a demo.</h4>
      <div class="mt-2 text-center">
        <button
          class="bg-white text-soa-primary px-4 py-2 font-semibold text-lg border-2 border-soa-primary hover:bg-soa-primary hover:text-white hover:mr-2">Learn
          More
          <span nz-icon nzType="arrow-right" nzTheme="outline" class="font-extralight mx-1" data-aos="fade-right"
            data-aos-duration="2000"></span></button>
      </div>
    </div>
  </div>
</div>
<app-more-info></app-more-info>
