<section class="bg-blend-multiply bg-[url('/assets/images/contact-us-map.jpg')] bg-soa-bg-blue p-8 mt-2">
  <div class="flex-col justify-center text-center" data-aos="zoom-in" data-aos-duration="2000">
    <h2 class="text-gray-700 text-4xl leading-tight font-bold my-4">Request More Information</h2>
    <h4 class="font-semibold text-xl my-4">Contact us to learn more about Wealthworks Partners' services</h4>
    <div class="mt-2 text-center">
      <button
        class="bg-white text-soa-primary px-4 py-2 font-semibold text-lg border-2 border-soa-primary hover:bg-soa-primary hover:text-white hover:mr-2">Inquire
        Info now
        <span nz-icon nzType="arrow-right" nzTheme="outline" class="font-extralight mx-1" data-aos="fade-right"
          data-aos-duration="2000"></span></button>
    </div>
  </div>
</section>
