<app-services-landing [landimgImg]='"assets/images/RAFS_Moment.jpg"'>
  <div title>
    <span class="bg-soa-highlight-prefix text-5xl leading-normal">Robotic Process Automation</span><br />
    <span>& Data Analytics</span>
  </div>
  <div description>
    Our group can enhance efficiency through the automation of standardized, repetitive business processes via robotic
    process automation (RPA) and by utilizing data analytics to conduct internal audit functions.
  </div>
</app-services-landing>