<ng-container>
  <app-services-landing [landimgImg]='"assets/images/directHire_Moment.jpg"'>
    <div title>
      <span class="bg-soa-highlight-prefix leading-normal">Alchemy Search</span><br />
      <span class="text-3xl xl:text-5xl leading-none">Interim Support & Direct Employment</span>
    </div>
    <div description>
      Alchemy Search Group supports clients facing tough business challenges by offering management-level accounting
      and finance experts with significant experience.
    </div>
  </app-services-landing>
  <section class="my-8 vs-margin-x text-lg font-semibold" data-aos="fade-up" data-aos-duration="500">
    <div class="vs-padding-x ">
      <div class="flex justify-center">
        <img src="assets/images/shutterstock_522034321-scaled.jpg" class="justify-center object-fit pt-32"
          loading="lazy" appImageViewer />
      </div>
      <p class="my-8 xl:my-2">
        Our team manages both an active and passive candidate pool and provides search services focused on qualified
        candidates in accounting, finance, human resources, and information technology.
      </p>
    </div>
  </section>
  <section class="my-12 vs-margin-x text-lg font-semibold">
    <div class="vs-padding-x ">
      <div class="grid grid-rows xl:grid-cols-2 gap-12">
        <div class="text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
          <app-heading textColor="black" heading="ALCHEMY SEARCH"></app-heading>
          <h2 class="vs-heading">
            Interim Search
          </h2>
          <h3 class="vs-heading_primary my-2">
            Services
          </h3>
          <div class="text-lg font-semibold vs-para-margin">
            <p class="my-2">Company executives and managers frequently depend on Wealthworks Partners search arm for
              short-term help in backfilling technical positions and finishing time-sensitive projects.</p>
            <p class="my-2">Our team takes great care to determine the client's precise needs, responds promptly, and
              presents the client with qualified consultants for Interim Search Services.
            </p>
            <p class="my-2">To make sure that suggested candidates fit the company's culture, our staff conducts
              interviews, understands the needs of our clients, and runs background checks.</p>
          </div>
        </div>
        <div class="text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
          <app-heading textColor="black" heading="ALCHEMY SEARCH"></app-heading>
          <h2 class="vs-heading">
            Direct Hire
          </h2>
          <h3 class="vs-heading_primary my-2">
            Services
          </h3>
          <div class="text-lg font-semibold vs-para-margin">
            <p class="my-2">
              Armed with expertise in the industry and market, this team conducts searches for elusive
              candidates who align with
              client's staffing requirements and the Company's culture for permanent positions.
            </p>
            <p class="my-2">
              The team possesses extensive experience in connecting full-time professionals with
              start-ups, growing businesses, and established firms.
            </p>
            <p class="my-2">
              Capable of accessing a vast database of skilled professionals for contract and temp-to-perm
              roles.
            </p>
          </div>
        </div>
      </div>
      <img loading="lazy" src="assets/images/alchemy-graphic-croped.jpg" class="object-cover w-screen my-2"
        appImageViewer data-aos="zoom-in" data-aos-duration="2000" />
    </div>
  </section>
</ng-container>
<app-more-info></app-more-info>
