<ng-container>
  <app-services-landing [landimgImg]='"assets/images/directHire_Moment.jpg"'>
    <div title>
      <span class="bg-soa-highlight-prefix leading-normal">Alchemy Search</span><br />
      <span class="text-3xl xl:text-5xl leading-none">Interim Support & Direct Hire</span>
    </div>
    <div description>
      Alchemy Search Group assists clients in need of overcoming demanding business challenges by providing
      management-level accounting and finance professionals with extensive expertise.
    </div>
  </app-services-landing>
  <section class="my-8 xl:mx-24 text-lg font-semibold" data-aos="fade-up" data-aos-duration="500">
    <div class="px-8 md:px-20 xl:px-64 ">
      <div class="flex justify-center">
        <img src="assets/images/shutterstock_522034321-scaled.jpg" class="justify-center object-fit pt-32" loading="lazy" appImageViewer/>
      </div>
      <p class="my-8 xl:my-2">
        Our team maintains an active and passive candidate pool and offers search services concentrating on skilled
        candidates in accounting, finance, human resources, and information technology.
      </p>
    </div>
  </section>
  <section class="my-12 xl:mx-24 text-lg font-semibold">
    <div class="px-8 md:px-20 xl:px-64 ">
      <div class="grid grid-rows xl:grid-cols-2 gap-12">
        <div class="text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
          <app-heading textColor="black" heading="ALCHEMY SEARCH"></app-heading>
          <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
            Interim Search
          </h2>
          <h3 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2">
            Services
          </h3>
          <div class="text-lg font-semibold my-4 xl:my-12">
            <p class="my-2">Company executives and managers often need assistance in completing time-sensitive projects
              and in backfilling positions requiring technical expertise and lean on the search arm of Wealthworks Partners for
              temporary needs.</p>
            <p class="my-2">For Interim Search Services, our team follows meticulous steps of identifying the exact
              needs of the client, always responding with urgency, and introducing successful consultants to the client.
            </p>
            <p class="my-2">Our team understands clients’ needs, conducts interviews and completes background checks to
              ensure that proposed candidates match the company’s culture.</p>
          </div>
        </div>
        <div class="text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
          <app-heading textColor="black" heading="ALCHEMY SEARCH"></app-heading>
          <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
            Direct Hire
          </h2>
          <h3 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2">
            Services
          </h3>
          <div class="text-lg font-semibold my-4 xl:my-12">
            <p class="my-2">Armed with industry and market knowledge, this group takes on searches for hard-to-find
              candidates who fit clients’ staffing needs as well as the Company’s environment for full-time hires.</p>
            <p class="my-2">The team has significant experience placing full-time professionals with start-ups, emerging
              growth, and mature companies.</p>
            <p class="my-2">Able to source from an extensive database of experienced professionals for contract and
              temp-to-perm positions.</p>
          </div>
        </div>
      </div>
      <img loading="lazy" src="assets/images/alchemy-graphic-croped.jpg" class="object-cover w-screen my-2" appImageViewer
        data-aos="zoom-in" data-aos-duration="2000" />
    </div>
  </section>
</ng-container>
<app-more-info></app-more-info>
