
<footer class="relative bg-gradient-to-b from-[#6d6d6d] via-[#757575] to-[#848484] text-white py-8">
  <div class="container mx-auto px-12 xl:px-4">
    <div class="grid grid-cols-1 lg:grid-cols-4 justify-center">
      <div class="my-4">
        <app-heading textColor="white" heading="CONTACT"></app-heading>
        <h4 class="font-bold text-lg xl:text-xl mb-2 text-white">Corporate Office</h4>
        <div class="text-base font-medium">
          <span class="flex flex-row">4120 Casterson Ct</span>
          <span class="flex flex-row">Pleasanton, CA 94566</span>
        </div>
        <div class="my-6 font-medium">
          <a href="mailto:seema@wwpts.com">
            <div class="flex flex-row my-1">
              <span nz-icon nzType="mail" nzTheme="outline"></span>
              <span class="mb-1"><span class="inline-block w-6"></span>seema&#64;wwpts.com</span>
            </div>
          </a>
          <a href="tel:+1-5102033601">
            <div class="flex flex-row my-1">
              <span nz-icon nzType="mobile" nzTheme="outline"></span>
              <span class="mb-1"><span class="inline-block w-6"></span>+1-5102033601</span>
            </div>
          </a>
          <a href="tel:+1-5102033601">
            <div class="flex flex-row my-1">
              <span nz-icon nzType="printer" nzTheme="outline"></span>
              <span class="mb-1"><span class="inline-block w-6"></span>+1-5102033601</span>
            </div>
          </a>
        </div>
      </div>
      <div class="my-4">
        <app-heading textColor="white" heading="TALK TO US"></app-heading>
        <h4 class="font-bold text-xl text-white">How can we help?</h4>
        <div class="text-base font-medium flex flex-col my-4">
          <div class="flex flex-row">
            <span nz-icon nzType="environment" nzTheme="outline"></span>

            <span class="mb-1"><span class="inline-block w-6"></span>Pleasanton</span>
          </div>
          <span class="ml-4"><span class="inline-block w-6"></span>+1-5102033601</span>
          <div class="my-2"></div>
          <div class="flex flex-row">
            <span nz-icon nzType="environment" nzTheme="outline"></span>
            <span class="mb-1"><span class="inline-block w-6"></span>California</span>
          </div>
          <span class="ml-4"><span class="inline-block w-6"></span>+1-5102033601</span>

        </div>
      </div>
      <div class="my-4">
        <app-heading textColor="white" heading="FOLLOW US"></app-heading>
        <h4 class="font-bold text-xl mb-2 text-white">See Us Socially</h4>
        <div class="flex space-x-2 flex-row my-4">

          <a href="https://www.linkedin.com/in/seema-rajoura/" target="_blank" class="bg-[#0572bc] text-white p-2 rounded">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z" />
            </svg>
          </a>
          <a href="https://osbornepartners.com" target="_blank" class="bg-[#0572bc] text-white p-2 rounded">
            <span nz-icon nzType="link" nzTheme="outline"></span>
          </a>


        </div>
      </div>
      <div class="my-4">
        <app-heading textColor="white" heading="PRIVACY"></app-heading>
        <h4 class="font-bold text-xl mb-2 text-white">Our Privacy Policy</h4>

        <span class="mb-4 font-semibold w-full text-base xl:w-2/3 leading-normal">We do not share aggregate, non-personally
          identifiable information with other entities or
          organizations.</span>
        <div class="flex flex-row py-4">
          <span nz-icon nzType="container" nzTheme="outline"></span>
          <span class="mb-1 font-medium text-lg xl:text-base"><span class="inline-block w-6"></span>
            <a href="/privacy-policy" class="text-white font-semibold">View Privacy Policy</a>
          </span>
        </div>

      </div>
    </div>
  </div>
</footer>
<app-copyright></app-copyright>

<div class="fixed bottom-1 right-2 transition-all duration-400 ease-in-out" data-aos="fade-up" data-aos-duration="500"
  *ngIf="isScrollToTop">
  <button class="bg-soa-primary text-white font-bold h-12 w-12 shadow-xl" (click)="scrollToTop()">
    <span nz-icon nzType="arrow-up" nzTheme="outline"></span>
  </button>
</div>
