<ng-container>
  <app-hero-section heading="BUILDING A BRIDGE OF TRUST AND CONFIDENCE">
    <div title>
      <h2 class="text-black text-3xl xl:text-5xl font-bold">
        Over 250 Years of
      </h2>
      <h4 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2">
        Combined Experience
      </h4>
    </div>
    <div hero-content>
      <p class="my-4 xl:my-12">
        Wealthworks Partners, Inc. was founded in 2004 and is a leading professional advisory firm.
        Wealthworks Partners operates six world-class service lines that cover a broad range of professional services to
        support clients as they grow and navigate a shifting regulatory landscape.
      </p>
      <p>
        With over 250 years of combined experience in accounting, auditing, compliance and IT Advisory, Wealthworks Partners
        creates unique solutions to satisfy the needs of even its most demanding clients.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/images/home-hero.jpg" class="object-cover w-screen" appImageViewer />
    </div>
  </app-hero-section>
  <div class="py-12 xl:mx-24">
    <div class="px-8 md:px-20 xl:px-64">
      <div class="grid grid-rows-2 text-center text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
        <p class="m-[0.01rem] shadow-xl p-4 border-soa-primary border-b-2">
          Wealthworks Partners has served over 450 companies and has significant experience working in number of industries.
        </p>
        <span class="mx-4 px-4 border-t-4 border-orange-200"></span>
      </div>
    </div>
  </div>
</ng-container>
