<ng-container>
  <app-hero-section heading="BUILDING A BRIDGE OF TRUST AND CONFIDENCE">
    <div title>
      <h2 class="text-black text-3xl xl:text-5xl font-bold">
        Several Years
      </h2>
      <h4 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2">
        of Experience
      </h4>
    </div>
    <div hero-content>
      <p class="my-4 xl:my-12">
        Wealthworks Partners, Inc. was established in 2025 and stands out as a prominent professional advisory firm. The
        company
        offers six top-notch service lines that encompass a wide array of professional services to assist clients in
        their
        growth while adapting to an evolving regulatory environment.
      </p>
      <p>
        With extensive experience in accounting, auditing, compliance, and IT advisory, Wealthworks Partners formulates
        tailored
        solutions to meet the requirements of its most challenging clients.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/images/home-hero.jpg" class="object-cover w-screen" appImageViewer />
    </div>
  </app-hero-section>
  <div class="py-12 xl:mx-24">
    <div class="px-8 md:px-20 xl:px-64">
      <div class="grid grid-rows-2 text-center text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
        <p class="m-[0.01rem] shadow-xl p-4 border-soa-primary border-b-2">
          Wealthworks Partners has worked with numerous companies and possesses extensive experience across various
          sectors.
        </p>
        <span class="mx-4 px-4 border-t-4 border-orange-200"></span>
      </div>
    </div>
  </div>
</ng-container>