<app-services-landing [landimgImg]='"assets/images/PrivacyHero.jpg"'>
    <div title>
        Privacy <span class="bg-soa-highlight-prefix leading-normal">Policy</span>
    </div>
    <div description>
        Wealthworks Partners, Inc. privacy policy applies only to the wwpts.com website and explains our
        practices concerning collecting, using, and disclosing visitor information.
    </div>
</app-services-landing>
<div class="mx-5 pt-20 md:mx-[250px] md:pt-40">
    <div class="text-lg">
        <p class="text-xl font-bold">Wealthworks Partners Contact Form Privacy Notice</p>
        <p>Effective: January 01, 2025</p>
        <p class="font-bold mt-10">Applicability</p>
        <p>
            This privacy notice applies only to the Wealthworks Partners website (https://wwpts.com) and
            explains our practices concerning collecting, using, and disclosing visitor information. Visitor
            information collected by Wealthworks Partners team will be used as this privacy notice outlines.
            Other affiliates of Wealthworks Partners may collect and use visitor information in different
            ways. Therefore, visitors to other Wealthworks Partners websites should review the privacy
            notices for the particular sites they visit. Wealthworks Partners team is not responsible for
            the content of other websites or the privacy practices of websites outside the scope of this
            notice.
        </p>
        <p class="font-bold mt-10">Changes</p>
        <p>
            Because Internet technologies continue to evolve rapidly, Wealthworks Partners team may make
            appropriate changes to this notice in the future. Any such changes will be consistent with our
            commitment to respecting visitor privacy and will be clearly posted in a revised privacy notice.
        </p>
        <p class="font-bold mt-10">Collection and Use</p>
        <div class="md:ml-5">
            <p>
                <span class="font-bold">Passive/Automatic Collection</span>
                <br>
                When you view pages on our site, the host server may automatically collect certain technical
                information from your computer and about your connection, including:
            </p>
            <ul class="list-disc ml-5 md:ml-10">
                <li>Your IP address</li>
                <li>User-specific information on which pages are visited</li>
                <li>Aggregate information on pages visited</li>
                <li>The date and time of the visit</li>
                <li>Your browser type</li>
            </ul>
            <p>
                Continued use of our website indicates consent to collecting, using and disclosing this
                information as described in this notice. This technical information may retain on the host
                server in detail for up to 365 days.
            </p>

            <p>
                <span class="font-bold">Active/Manual/Voluntary Collection</span>
                <br>
                Other than automatically collected technical information about your visit (described
                above, or cookies, described below), we may ask you to provide information voluntarily, such
                as through the Contact form, to schedule a demo or contact you to answer any questions
                regarding our services, to maintain and manage our relationship with you, including
                providing associated services or to understand better and serve your needs. This information
                is generally retained as long as you continue to maintain a relationship with us. Your
                providing this information is wholly voluntary. Providing the requested information
                indicates your consent to the collection, use, and disclosure of this information as
                described in this notice. Information we may actively collect could include:
            </p>
            <ul class="list-disc ml-5 md:ml-10">
                <li>The email addresses of those who communicate with us via email</li>
                <li>Full name</li>
                <li>Work email address</li>
                <li>Company Name</li>
                <li>Number of employees</li>
                <li>Headquarters location</li>
                <li>Phone information to reach you</li>
                <li>Information on how did you hear about us</li>
            </ul>
        </div>
        <p class="font-bold mt-10">Information Used for Contact Form</p>
        <p>
            If you supply us with your postal/mailing address, you will only receive the information for
            which you provided us with your address.
        </p>
        <p class="font-bold mt-10">Information Sharing</p>
        <p>We do not share aggregate, non-personally identifiable information with other entities or
            organizations. We do not share any personally identifiable information with other entities or
            organizations except when legally required to do so, at the request of governmental authorities
            conducting an investigation, to verify or enforce compliance with the policies governing our
            website and applicable laws, or to protect against misuse or unauthorized use of our website.
            Except as described above, we will not share any information with any party for any reason.
            Except as provided in the Disclosure of Information section below, we do not attempt to use the
            technical information discussed in this section to identify individual visitors.</p>
        <p class="font-bold mt-10">Cookies</p>
        <p>
            A cookie is a small data file written to your hard drive containing information about your visit
            to a web page. If you prefer not to receive cookies, you may configure your browser not to
            accept them at all or notify and require approval before accepting new cookies. However, some
            web pages/sites may not function properly if the cookies are turned off, or you may have to
            provide the same information each time you visit those pages. Therefore, Wealthworks Partners
            team is not using cookies at this time.
        </p>
        <p class="font-bold mt-10">Children</p>
        <p>
            This site is not directed to children under 13 years of age, does not sell products or services
            intended for purchase by children, and does not knowingly collect or store any personal
            information, even in aggregate, about children under the age of 13. We encourage parents to be
            involved in children's Internet explorations. Parents must guide their children when they are
            asked to provide personal information online.
        </p>
        <p class="font-bold mt-10">Security</p>
        <p>
            Due to the rapidly evolving nature of information technologies, no transmission of information
            over the Internet can be guaranteed to be completely secure. Therefore, while Wealthworks
            Partners is committed to protecting user privacy, we cannot guarantee the security of any
            information users transmit to Wealthworks Partners sites, and users do so at their own risk.
        </p>
        <ul class="list-disc ml-5 md:ml-10">
            <li>
                We have appropriate security measures in place in our physical facilities to protect against
                the loss, misuse, or alteration of information that we have collected from you at our site.
            </li>
            <li>
                Once we receive user information, we will use reasonable safeguards consistent with
                prevailing industry standards and commensurate with the sensitivity of the data being stored
                to maintain the security of that information on our systems.
            </li>
            <li>
                We will comply with all applicable federal, state, and local laws regarding the privacy and
                security of user information.
            </li>
        </ul>
        <p class="font-bold mt-10">Links to non-Wealthworks Partners sites</p>
        <p>
            Wealthworks Partners is not responsible for the availability, content, or privacy practices of
            non-Wealthworks Partners websites. Non-Wealthworks Partners websites are not bound by this site
            privacy notice policy and may or may not have their own privacy policies.
        </p>
        <p class="font-bold mt-10">Privacy Notice Changes</p>
        <p>
            From time to time, we may use visitor information for new, unanticipated uses not previously
            disclosed in our privacy notice. We will post the policy changes to our website to notify you of
            these changes, but only data collected from the time of the policy change forward will be used
            for these new purposes. If you are concerned about how your information is used, you should
            check back at our website periodically.
        </p>
        <hr>
        <p class="mb-10 md:mb-20 mt-10"><span class="font-bold">Contact Information</span><br>
            If you have questions or concerns about this policy, please contact us.<br>Wealthworks
            Partners<br>4120 Casterson Ct Pleasanton, CA 94566<br>seema&#64;wwpts.com
        </p>
    </div>
</div>