<div class="text-justify vs-padding-y">
  <app-hero-section>
    <div hero-content data-aos="fade-up" data-aos-duration="500">
      <p class="vs-para-margin">
        The Hatchery has a proven track record of offering highly customized, high-quality start-up services at a
        reasonable cost, freeing up management to concentrate on expanding their business.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/wwpts_new_images/shutterstock_522034321-scaled.jpg"
        class="xl:mt-12 object-cover w-screen" appImageViewer />
    </div>
  </app-hero-section>
  <div
    class="vs-padding bg-no-repeat xl:bg-repeat bg-[url('data:image/svg+xml;base64,PHN2ZyAgZmlsbD0iI2VmZjRmYSIgdmlld0JveD0iMCAwIDE5MjAgMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4gc2xpY2UiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgODg5LjIyIDE5MjAgNzM0LjI2IDEyNzkuOSAxMDM3Ljg4IDc4Ny42MSAwIDYzMi42NiAwIDEyMTMuNCAxMjI0LjM3IDE5MjAgODg5LjIyIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgNTc5LjMxIDE5MjAgNDI0LjM2IDE0MTIuODkgNjY0LjkgMTA5Ny41MSAwIDk0Mi41NiAwIDEzNDYuMzkgODUxLjM5IDE5MjAgNTc5LjMxIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgMjY5LjQxIDE5MjAgMTU3LjgxIDE4NDUuMTQgMCAxNjkwLjE5IDAgMTc3Ni43MiAxODIuNDIgMTU0NS44NyAyOTEuOTIgMTQzNi4zOCA2MS4wNyAxNTY1LjEzIDAgMTI1Mi40NiAwIDE0NzkuMzggNDc4LjQxIDE5MjAgMjY5LjQxIi8+CgkJCQkJCQkJCTwvZz48L3N2Zz4=')]">
    <section class="px-2">
      <div class="flex flex-wrap justify-around">
        <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
          <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-Acc.png" />
          <h3 class="text-gray-700 text-2xl font-bold my-4">Accounting & Bookkeeping</h3>
          <a [routerLink]="['/services/startup-services']" fragment="asa"
            class="text-base font-semibold text-soa-link mt-4 mb-1">Establishment of Accounting System & Automation
            ></a>
          <a [routerLink]="['/services/startup-services']" fragment="ledger-mgmt"
            class="text-base font-semibold text-soa-link mt-4 mb-1">General Ledger Management ></a>
          <a [routerLink]="['/services/startup-services']" fragment="vendor-mgmt"
            class="text-base font-semibold text-soa-link mt-4 mb-1">Vendor Management ></a>
          <a [routerLink]="['/services/startup-services']" fragment="order-cash-mgmt"
            class="text-base font-semibold text-soa-link mt-4 mb-1">Order-to-Cash Management ></a>
          <a [routerLink]="['/services/startup-services']" fragment="emp-mgmt"
            class="text-base font-semibold text-soa-link mt-4 mb-1">Employee Related Management ></a>
        </div>
        <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
          <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-team.png" />
          <h3 class="text-gray-700 text-2xl font-bold mt-4 mb-1">Interim CFO & Controllership</h3>
          <a [routerLink]="['/services/startup-services']" fragment="op-assist"
            class="text-base font-semibold text-soa-link mt-4 mb-1">Operational Support ></a>
          <a [routerLink]="['/services/startup-services']" fragment="fin-report-improvements"
            class="text-base font-semibold text-soa-link mt-4 mb-1">Financial Reporting & Enhancements ></a>
          <a [routerLink]="['/services/startup-services']" fragment="fin-planning-analysis"
            class="text-base font-semibold text-soa-link mt-4 mb-1">Financial Planning & Analysis ></a>
        </div>
        <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
          <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-tax.png" />
          <h3 class="text-gray-700 text-2xl font-bold mt-4 mb-1">Comprehensive Tax Services</h3>
          <a [routerLink]="['/services/startup-services']" fragment="tax-solution"
            class="text-base font-semibold text-soa-link">Learn More ></a>
        </div>
      </div>
    </section>
  </div>
  <app-hero-section heading="START-UP SERVICES">
    <div title>
      <h2 class="vs-heading">
        Accounting
      </h2>
      <h3 class="vs-heading_primary my-2">
        & Bookkeeping
      </h3>
    </div>
    <div hero-content id="asa">
      <h4 class="mt-8 font-bold">
        Establishment of Accounting System & Automation
      </h4>
      <ul class="list-disc mx-6 my-2">
        <li>Assist in selection & implementation of accounting software or ERP System.</li>
        <li>Set up a chart of accounts that aligns with your business model.</li>
        <li>Assessment of organizational and legal framework.</li>
        <li>Formulation of an optimized reporting structure assessment.</li>
        <li>Functionality analysis.</li>
        <li>Assistance with data migration plan.</li>
        <li>Utilization of diverse automation tools to enhance and/or simplify processes:</li>
        <ul class="list-disc mx-6">
          <li>Payment automation solutions: Bill.com, Tipalti, Coupa, and others.</li>
          <li>Revenue recognition software: ARM, Rev Pro, and others.</li>
          <li>FP&A software: Adaptive, Anaplan, Planful, etc.</li>
          <li>Close process tools: FloQast, Blackline, Wokiva, and others.</li>
        </ul>
      </ul>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/wwpts_new_images/Hatchery-accounting-general.avif"
        class="object-cover w-screen xl:mt-12" />
    </div>
  </app-hero-section>
  <section class="my-8 vs-margin-x text-lg font-semibold">
    <div class="vs-padding-x">
      <div class="grid grid-rows xl:grid-cols-2 gap-12">
        <div id="ledger-mgmt">
          <h4 class="my-2 font-bold">
            General Ledger Management
          </h4>
          <ul class="list-disc mx-6 my-2">
            <li>Establish the chart of accounts in the selected new ERP system.</li>
            <li>Keep all records and books—accounting and bookkeeping.</li>
            <li>Conduct monthly reconciliation for all balance sheet accounts.</li>
            <li>Analysis of G/L accounts.</li>
            <li>Consider fixed and intangible assets: purchases, retirements, disposals, depreciation/amortization.</li>
            <li>Consider prepaid expenses and accrued liabilities.</li>
            <li>Reserve evaluation: credit, guarantee, stock, etc.</li>
          </ul>
        </div>
        <div id="vendor-mgmt">
          <h4 class="my-2 font-bold">
            Vendor Management
          </h4>
          <ul class="list-disc mx-6 my-2">
            <li>Vendor data configuration: W-9 forms, contract management, payment conditions, payment processing
              methods.</li>
            <li>Processing of purchase orders.</li>
            <li>Documenting supplier bills.</li>
            <li>Establish automated payment platforms (e.g. Bill.com).</li>
            <li>Workflow for approving payments and processing them.</li>
            <li>Management of cash flow.</li>
            <li>A/P aging reports and metrics (trends, days payable outstanding).</li>
          </ul>
        </div>
        <div id="order-cash-mgmt">
          <h4 class="my-2 font-bold">
            Order-to-Cash Management
          </h4>
          <ul class="list-disc mx-6 my-2">
            <li>Client onboarding, credit assessments.</li>
            <li>Order processing for sales.</li>
            <li>Billing, receivables, overdue reports & statistics (patterns, DSO).</li>
            <li>Establish revenue and deferred revenue timelines.</li>
            <li>Tax filings for sales.</li>
            <li>Implementation of automated sales tax software.</li>
            <li>Revenue Acknowledgment and Deal Desk Operation.</li>
            <li>Implementation of software for automated revenue recognition.</li>
          </ul>
        </div>
        <div id="emp-mgmt">
          <h4 class="my-2 font-bold">
            Employee Related Management
          </h4>
          <ul class="list-disc mx-6 my-2">
            <li>Payroll system configuration, encompassing new employees and separations.</li>
            <li>Processing of payroll.</li>
            <li>Management and accounting of stock-based compensation.</li>
            <li>Accruals for vacation.</li>
            <li>Salary assessments, incentive computations, sales commissions, worker perks.</li>
            <li>Processing expense reports and setting up the system (e.g. Expensify).</li>
            <li>Establish timesheet tracking and system deployment.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-soa-bg-blue">
    <app-hero-section heading="START-UP SERVICES">
      <div title>
        <h2 class="vs-heading">
          Interim CFO
        </h2>
        <h3 class="vs-heading_primary my-2">
          & Controllership
        </h3>
      </div>
    </app-hero-section>
    <section class="vs-margin-x">
      <div class="vs-text-content py-4">
        <p>
          Wealthworks Partners provides management-level accounting and finance professionals with a wealth of industry
          domain and experience to help clients overcome difficult business challenges. As a result, you can rely on
          financial reports and KPI dashboards to help you make critical business decisions.
        </p>
        <p>
          Along with the bookkeeping and accounting services mentioned above, we also use our industry knowledge to
          offer suggestions for enhancements and insights.
        </p>
        <div class="grid grid-rows xl:grid-cols-2 gap-12">
          <div id="op-assist">
            <h4 class="my-2 font-bold">
              Operational Support
            </h4>
            <ul class="list-disc mx-6 my-2">
              <li>Assistance in closing procedures.</li>
              <li>Financial Reporting and Analysis, Quarter-End Close.</li>
              <li>Reconciliations and financial reviews.</li>
              <li>Creation of a financial analysis and a review of fluctuations.</li>
              <li>Development of InterCo transaction reconciliation and confirmation template.</li>
              <li>Consolidation.</li>
              <li>Educating foreign organizations about new regulations.</li>
              <li>Ad hoc accounting assistance.</li>
              <li>Help with external and regulatory audits.</li>
              <li>Create corporate policies and processes.</li>
            </ul>
          </div>
          <div id="fin-report-improvements">
            <h4 class="my-2 font-bold">
              Financial Reporting & Enhancements
            </h4>
            <ul class="list-disc mx-6 my-2">
              <li>
                Preparation of monthly/quarterly/annual financial reports: income statement, balance sheet, statement
                of equity, and cash flow statement.
              </li>
              <li>Compensation packages for executives at the C-suite level, investors, and board members.</li>
              <li>Reporting on debt covenants.</li>
              <li>Prepare financial segments of Board and investor presentations.</li>
              <li>Create dashboards that feature KPIs.</li>
              <li>Minimize the time taken for the process to close.</li>
              <li>Creation of a detailed calendar and checklist.</li>
              <li>Evaluation and enhancement of the accounting process.</li>
              <li>Review and implementation of top accounting practices.</li>
              <li>Evaluate the closing procedures of subsidiaries.</li>
            </ul>
          </div>
          <div>
            <img src="assets/wwpts_new_images/Hatchery-accounting-general-stock2.jpg" class="my-8" loading="lazy"
              appImageViewer />
          </div>
          <div id="fin-planning-analysis">
            <h4 class="my-2 font-bold">
              Financial Planning & Analysis
            </h4>
            <ul class="list-disc mx-6 my-2">
              <li>Create and sustain financial models.</li>
              <li>Create pro forma or forecasted financial statements.</li>
              <li>KPI visual displays</li>
              <li>Development of budgeting tools based on Excel</li>
              <li>Deployment of automated FP&A software</li>
              <li>Model for forecasting sales commissions</li>
              <li>Cash projections</li>
              <li>Assistance with mergers & acquisitions and divestitures.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-hero-section heading="START-UP SERVICES" id="tax-solution">
    <div title>
      <h2 class="vs-heading">
        Comprehensive
      </h2>
      <h3 class="vs-heading_primary my-2">
        Tax Services
      </h3>
    </div>
    <div hero-content>
      <ul class="list-disc mx-6 my-8">
        <li>Initial year tax filings with relevant choices.</li>
        <li>Compile corporate income/franchise tax submissions.</li>
        <li>Prepare local and real estate tax filings.</li>
        <li>Tax Strategy and Global Tax Framework Evaluation.</li>
        <li>Adherence to sales and use tax regulations.</li>
        <li>Prepare tax liability.</li>
        <li>Prepare yearly reports for the Secretary of State.</li>
        <li>Credits for research and development taxes.</li>
        <li>Complete year-end tax documentation: 1099, 3921, 3922.</li>
        <li>Prepare filings for business licenses.</li>
      </ul>
    </div>
  </app-hero-section>
</div>
<app-more-info></app-more-info>