<div class="text-justify xl:py-12 xl:pt-24">
  <app-hero-section>
    <div hero-content data-aos="fade-up" data-aos-duration="500">
      <p class="my-4 xl:my-12">
        Wealthworks Partners has been a thought leader in SOX since 2004 and has assisted over 200 clients in implementing and
        maintaining SOX Compliance with a full range of services from outsourcing to co-sourcing SOX compliance services
        and business process optimization.
      </p>
      <p>
        We offer a creative and flexible approach by providing tailored internal audit solutions to fit your needs.
        Wealthworks Partners internal audit solution combines industry expertise, subject matter experts in operational and
        compliance areas, and state-of-the-art methodologies to address your needs.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/images/sox-general-scaled.jpg" class="xl:mt-12 object-cover w-screen" appImageViewer />
    </div>
  </app-hero-section>
  <div class="px-20 py-4 bg-no-repeat xl:bg-repeat bg-[url('data:image/svg+xml;base64,PHN2ZyAgZmlsbD0iI2VmZjRmYSIgdmlld0JveD0iMCAwIDE5MjAgMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4gc2xpY2UiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgODg5LjIyIDE5MjAgNzM0LjI2IDEyNzkuOSAxMDM3Ljg4IDc4Ny42MSAwIDYzMi42NiAwIDEyMTMuNCAxMjI0LjM3IDE5MjAgODg5LjIyIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgNTc5LjMxIDE5MjAgNDI0LjM2IDE0MTIuODkgNjY0LjkgMTA5Ny41MSAwIDk0Mi41NiAwIDEzNDYuMzkgODUxLjM5IDE5MjAgNTc5LjMxIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgMjY5LjQxIDE5MjAgMTU3LjgxIDE4NDUuMTQgMCAxNjkwLjE5IDAgMTc3Ni43MiAxODIuNDIgMTU0NS44NyAyOTEuOTIgMTQzNi4zOCA2MS4wNyAxNTY1LjEzIDAgMTI1Mi40NiAwIDE0NzkuMzggNDc4LjQxIDE5MjAgMjY5LjQxIi8+CgkJCQkJCQkJCTwvZz48L3N2Zz4=')]">
    <section class="px-2">
    <div class="flex flex-wrap justify-around">
      <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
        <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-SOX.png" />
        <h3 class="text-gray-700 text-2xl font-bold mt-4 mb-1">SOX Compliance</h3>
        <a [routerLink]="['/services/sox-internal-audit']" fragment="sox-compliance" class="text-base font-semibold text-soa-link">Learn More ></a>
      </div>
      <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
        <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-InternalAudit.png" />
        <h3 class="text-gray-700 text-2xl font-bold mt-4 mb-1">Internal Audit</h3>
        <a [routerLink]="['/services/sox-internal-audit']" fragment="internal-audit" class="text-base font-semibold text-soa-link">Learn More ></a>
      </div>
    </div>
    </section>
  </div>
  <app-hero-section heading="SOX SERVICE OFFERINGS" id="sox-compliance">
    <div title>
      <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
        SOX
      </h2>
      <h3 class="text-soa-primary text-2xl xl:text-5xl font-bold my-2">
        Compliance
      </h3>
    </div>
    <div hero-content>
      <p class="my-4 xl:my-12">
        Wealthworks Partners approaches SOX Compliance projects using our overall RIM (“Risk Assessment – Process Improvement –
        Continuous Monitoring”) methodology. We designed our approach to address an organization’s evolving risk profile
        and its changing environment by updating the risk assessment on an ongoing basis to ensure changes in the
        business are reflected in our compliance effort. We have developed and implemented a phased approach for SOX
        Implementation for Pre-IPO and Newly Public Companies taking into account an organization’s risk profile.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/images/sox-services1.jpg" class="object-cover w-screen xl:-mt-32" appImageViewer/>
    </div>
  </app-hero-section>
  <section class="my-8 xl:m-20">
    <div class="px-8 md:px-20 xl:px-64">
      <div class="flex flex-row justify-center my-16">
        <img src="assets/images/SOX-Compliance-scaled.jpg" loading="lazy" appImageViewer />
      </div>
      <div class="text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
        <p>
          Wealthworks Partners uses a consistent methodology and templates on SOX engagements. Our planning and execution
          methodology is closely aligned with that of the Big4 accounting firms and incorporates the guidance provided
          under PCAOB Auditing Standards and Staff Audit Practice Alerts. Our IT Compliance & Advisory team works with
          clients to assess technology risks and address, manage and mitigate the impact of those risks to the business,
          enabling the organization to leverage technology.
        </p>
        <p>
          Some of the SOX-related services which our team has extensive experience in providing to our clients in
          conjunction with our SOX projects include:
        </p>
        <div class="flex flex-row justify-center my-16">
          <img src="assets/images/sox-graphic-1.jpg" loading="lazy" appImageViewer/>
        </div>
        <p>
          Project management is the cornerstone of our success. Wealthworks Partners will establish an effective communication
          protocol to allow our team to track the progress of the engagement. At Wealthworks Partners, we believe success of
          project management is a byproduct of managing the engagement proactively and continuously throughout the
          process.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8 bg-soa-bg-blue">
    <app-hero-section heading="SOX SERVICE OFFERINGS" id="internal-audit">
      <div title>
        <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
          Internal
        </h2>
        <h3 class="text-soa-primary text-2xl xl:text-5xl font-bold my-2">
          Audit
        </h3>
      </div>
      <div hero-content>
        <p class="my-4">
          The dynamics of today’s global business climate are driving organizations to seek new ways to improve their
          competitive advantage. Our consultants can assist you in achieving your objectives by bringing a
          cost-effective, strategic, disciplined approach to your risk management process. The results of our internal
          audit compliance solution will be seen immediately in the benefits to your internal audit process and
          beyond. Wealthworks Partners internal audit services include:
        </p>
      </div>
      <div hero-image>
        <img loading="lazy" src="assets/images/sox-services2.jpg" class="object-fit w-96 xl:-mt-36 h-96" appImageViewer/>
      </div>
    </app-hero-section>
    <section class="xl:mx-24 px-8 md:px-20 xl:px-64">
      <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 font-bold text-base xl:text-xl"  data-aos="fade-up" data-aos-duration="2000">
        <div class="grid grid-rows gap-4">
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out" [routerLink]="['/services/sox-internal-audit']" fragment="cs">Internal Audit Co-Sourcing ></h4>
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out" [routerLink]="['/services/sox-internal-audit']" fragment="fo">Internal Audit Full Outsourcing >
          </h4>
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out" [routerLink]="['/services/sox-internal-audit']" fragment="qar">Internal Audit Quality Assurance
            Review ></h4>
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out" [routerLink]="['/services/sox-internal-audit']" fragment="aca">Audit Committee Advisory ></h4>
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out" [routerLink]="['/services/sox-internal-audit']" fragment="fr">Fraud Reviews ></h4>
        </div>
        <div class="grid grid-rows-5 gap-4">
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out" [routerLink]="['/services/sox-internal-audit']" fragment="itas">IT Audit Services ></h4>
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out" [routerLink]="['/services/sox-internal-audit']" fragment="siap">Specialized Internal Audit Projects >
          </h4>
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out" [routerLink]="['/services/sox-internal-audit']" fragment="tprm">Third Party Risk Management ></h4>
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out" [routerLink]="['/services/sox-internal-audit']" fragment="grc">Governance, Risk, and Compliance
            (GRC) ></h4>
        </div>
      </div>
      <p class="font-semibold my-12 text-lg">We facilitate the alignment of internal audit resources to stakeholder expectations
        and the delivery of an enterprise-wide risk approach. We consider the risk profile and control maturity to
        determine the value driven internal audit services, enabling us to offer the right resources, at the right time,
        in the right place that will transform an existing internal audit function into a proactive and value-added
        function.</p>
      <div class="grid grid-cols xl:grid-cols-2 gap-4 font-semibold text-lg">
        <div>
          <h5 class="text-lg font-bold">Establishing an Internal Audit Function</h5>
          <p>Our team has extensive experience in setting up an internal audit function for an organization.</p>
          <ul class="list-disc mx-6 my-4">
            <li>Setting up the Internal Audit function</li>
            <li>Developing annual Internal Audit plan</li>
            <li>Execution of IA plan and performing Internal Audit</li>
            <li>Reporting</li>
          </ul>
        </div>
        <img src="assets/images/sox-services3.jpg" class="object-cover mt-8" loading="lazy" appImageViewer/>
      </div>
    </section>
    <div>

    </div>
  </section>
  <section class="my-8 xl:m-20"   id="cs">
    <div class="px-8 md:px-20 xl:px-64 text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
      <h4 class="text-xl font-bold">Internal Audit Co-Sourcing</h4>
      <p class="py-2">We can enhance your existing internal audit capabilities through co-sourcing arrangements by complementing in-house functions with specialist skills or by providing project-based advisory services. We can transform an existing internal audit program into a proactive, value-added function.</p>
      <p class="py-2">Wealthworks Partners has helped organizations benefit from a risk-based strategy by helping them transform their internal audit function from a traditional, transaction-based role into one that can deliver strategic business information. Our consultants have specific experience across a wide range of industries and extensive internal auditing knowledge to assist management in identifying critical areas of risk for almost any type of business with an approach that is highly focused and strategically driven.</p>
    </div>
  </section>

  <section class="py-8 xl:p-20 clippy-1 bg-soa-bg-blue" id="fo">
    <div class="px-8 md:px-20 xl:px-64 text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
      <h4 class="text-xl font-bold">Internal Audit Full Outsourcing</h4>
      <p class="py-2">Our internal audit services help management improve operations in a cost-effective and value-added manner by providing a fully outsourced internal audit solution.  Our approach goes beyond testing transactions and balances to providing insights that help you better understand your business.  Wealthworks Partners not only provide efficient and timely services but personalized guidance to help assure a sound financial future. Wealthworks Partners recognizes that clients expect more than just a tradition internal audit services. Our process uses knowledge and skill sets to provide value-added suggestions to our clients that will help them achieve financial and operational efficiencies. </p>
    </div>
  </section>

  <section class="my-8 xl:m-20" id="qar">
    <div class="px-8 md:px-20 xl:px-64 text-lg font-semibold"  data-aos="fade-up" data-aos-duration="2000">
      <h4 class="text-xl font-bold">Internal Audit Quality Assurance Review</h4>
      <p class="py-2">We assist in providing an assessment of the internal audit function which can help management prioritize audit projects and assess the current resource and skill levels necessary to perform the audit function.  Our approach is customized to help companies create efficiencies in their existing internal audit department.</p>
    </div>
  </section>

  <section class="py-8 xl:p-20 clippy-1 bg-soa-bg-blue" id="aca">
    <div class="px-8 md:px-20 xl:px-64 text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
      <h4 class="text-xl font-bold">Audit Committee Advisory</h4>
      <p class="py-2">We provide independent advisory services to Audit Committees on technical accounting issues, corporate governance, structure and effectiveness of internal audit-related activities, risk assessment evaluation and advise on other business risks.</p>
    </div>
  </section>


  <section class="my-8 xl:m-20" id="fr">
    <div class="px-8 md:px-20 xl:px-64 text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
      <h4 class="text-xl font-bold">Fraud Reviews</h4>
      <p class="py-2">We address concerns such as reducing business risk to an acceptable level, improving the value of your business and addressing the changing environment within your industry. We can assist you in establishing an Anti-Fraud Program and ensuring that it is appropriately implemented and tested throughout the year.</p>
    </div>
  </section>

  <section class="py-8 xl:p-20 clippy-1 bg-soa-bg-blue" id="itas">
    <div class="px-8 md:px-20 xl:px-64 text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
      <h4 class="text-xl font-bold">IT Audit Services</h4>
      <p class="py-2">We have specialized qualified IT professionals to assist in assessing technology risks and controls to align the internal audit function with the Company’s business and IT strategies.</p>
    </div>
  </section>

  <section class="my-8 xl:m-20" id="siap">
    <div class="px-8 md:px-20 xl:px-64 text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
      <h4 class="text-xl font-bold">Specialized Internal Audit Projects</h4>
      <p class="py-2">We provide ongoing assistance for your internal staff and systems for specialized internal audit projects. We use the COSO Framework for our ERM engagements and design our workflows to address the elements of that framework.  Aligned with ERM, companies are focusing on two other risk management areas – TPRM and GRC. </p>
    </div>
  </section>

  <section class="py-8 xl:p-20 clippy-1 bg-soa-bg-blue" id="tprm">
    <div class="px-8 md:px-20 xl:px-64 text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
      <h4 class="text-xl font-bold">Third Party Risk Management</h4>
      <p class="py-2">TPRM focuses on establishing a vendor risk rating criteria and mapping to sourcing strategy, enabling vendor onboarding, classification and off-boarding, and implementing automation solutions and vendor data lakes.</p>
    </div>
  </section>

  <section class="my-8 xl:m-20" id="grc">
    <div class="px-8 md:px-20 xl:px-64 text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000" >
      <h4 class="text-xl font-bold">Governance, Risk, and Compliance (GRC)</h4>
      <p class="py-2">GRC addresses an organization’s assessment approach through control, definition, enforcement, and monitoring to coordinate and integrate these initiatives.</p>
    </div>
  </section>

</div>
<app-more-info></app-more-info>
