<div class="text-justify vs-padding-y">
  <app-hero-section>
    <div hero-content data-aos="fade-up" data-aos-duration="500">
      <p class="vs-para-margin">
        Since 2025, Wealthworks Partners has been recognized as a leader in SOX, helping numerous clients implement and
        maintain
        SOX Compliance through a wide array of services, including outsourcing, co-sourcing SOX compliance solutions,
        and
        optimizing business processes.
      </p>
      <p>
        We provide a flexible and innovative approach by delivering customized internal audit solutions to meet your
        specific
        requirements. The internal audit services from Wealthworks Partners integrate industry knowledge, specialists in
        operational and compliance fields, and advanced methodologies to fulfill your needs.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/images/sox-general-scaled.jpg" class="xl:mt-12 object-cover w-screen"
        appImageViewer />
    </div>
  </app-hero-section>
  <div class="vs-padding bg-no-repeat xl:bg-repeat bg-[url('data:image/svg+xml;base64,PHN2ZyAgZmlsbD0iI2VmZjRmYSIgdmlld0JveD0iMCAwIDE5MjAgMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4gc2xpY2UiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgODg5LjIyIDE5MjAgNzM0LjI2IDEyNzkuOSAxMDM3Ljg4IDc4Ny42MSAwIDYzMi42NiAwIDEyMTMuNCAxMjI0LjM3IDE5MjAgODg5LjIyIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgNTc5LjMxIDE5MjAgNDI0LjM2IDE0MTIuODkgNjY0LjkgMTA5Ny41MSAwIDk0Mi41NiAwIDEzNDYuMzkgODUxLjM5IDE5MjAgNTc5LjMxIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgMjY5LjQxIDE5MjAgMTU3LjgxIDE4NDUuMTQgMCAxNjkwLjE5IDAgMTc3Ni43MiAxODIuNDIgMTU0NS44NyAyOTEuOTIgMTQzNi4zOCA2MS4wNyAxNTY1LjEzIDAgMTI1Mi40NiAwIDE0NzkuMzggNDc4LjQxIDE5MjAgMjY5LjQxIi8+CgkJCQkJCQkJCTwvZz48L3N2Zz4=')]">
    <section class="px-2">
    <div class="flex flex-wrap justify-around">
      <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
        <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-SOX.png" />
        <h3 class="vs-heading_2xl mt-4 mb-1">SOX Compliance</h3>
        <a [routerLink]="['/services/sox-internal-audit']" fragment="sox-compliance" class="text-base font-semibold text-soa-link">Learn More ></a>
      </div>
      <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
        <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-InternalAudit.png" />
        <h3 class="vs-heading_2xl mt-4 mb-1">Internal Audit</h3>
        <a [routerLink]="['/services/sox-internal-audit']" fragment="internal-audit" class="text-base font-semibold text-soa-link">Learn More ></a>
      </div>
    </div>
    </section>
  </div>
  <app-hero-section heading="SOX SERVICE PROVISIONS" id="sox-compliance">
    <div title>
      <h2 class="vs-heading">
        SOX
      </h2>
      <h3 class="text-soa-primary text-2xl xl:text-5xl font-bold my-2">
        Compliance
      </h3>
    </div>
    <div hero-content>
      <p class="vs-para-margin">
        Wealthworks Partners uses our comprehensive RIM ("Risk Assessment - Process Improvement - Continuous
        Monitoring")
        process while working on SOX Compliance projects. In order to make sure that changes in the business are
        represented in
        our compliance effort, we created our strategy to address an organization's changing risk profile and
        environment by
        regularly updating the risk assessment. Taking into consideration the risk profile of an organisation, we have
        created
        and executed a phased strategy for SOX implementation for pre-IPO and newly public companies.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/images/sox-services1.jpg" class="object-cover w-screen xl:-mt-32"
        appImageViewer />
    </div>
  </app-hero-section>
  <section class="my-8 xl:m-20">
    <div class="vs-padding-x">
      <div class="flex flex-row justify-center my-16">
        <img src="assets/images/SOX-Compliance-scaled.jpg" loading="lazy" appImageViewer />
      </div>
      <div class="text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
        <p>
          Wealthworks Partners handles SOX engagements using a standard process and templates. Our approach to planning
          and
          execution closely resembles that of the Big Four accounting firms and takes into account the recommendations
          made by
          Staff
          Audit Practice Alerts and PCAOB Auditing Standards. In order to enable the organisation to take advantage of
          technology,
          our IT Compliance & Advisory team collaborates with clients to evaluate technological risks and address,
          manage, and
          lessen their impact on the business. AI-driven tools can automate control testing and monitor compliance
          risks.
        </p>
        <p>
          Some of the SOX-related services which our team has extensive experience in providing to our clients in
          conjunction with our SOX projects include:
        </p>
        <div class="flex flex-row justify-center my-16">
          <img src="assets/images/sox-graphic-1.jpg" loading="lazy" appImageViewer />
        </div>
        <p>
          Project management forms the foundation of our success. At Wealthworks Partners, we establish clear
          communication
          protocols to effectively monitor the progress of each engagement. We believe that successful project
          management stems
          from proactive and continuous oversight throughout the entire process.
        </p>
      </div>
    </div>
  </section>
  <section class="vs-padding_default bg-soa-bg-blue">
    <app-hero-section heading="SOX SERVICE PROVISIONS" id="internal-audit">
      <div title>
        <h2 class="vs-heading">
          Internal
        </h2>
        <h3 class="text-soa-primary text-2xl xl:text-5xl font-bold my-2">
          Audit
        </h3>
      </div>
      <div hero-content>
        <p>
          In today's fast-paced global business environment, organizations are striving to enhance their competitive
          edge. Our
          consultants bring a strategic, disciplined, and cost-effective approach to your risk management process,
          helping you
          achieve your objectives efficiently.
          <br>
          Wealthworks Partners offers a range of internal audit services designed to deliver immediate benefits to your
          audit
          processes and beyond:
        </p>
      </div>
      <div hero-image>
        <img loading="lazy" src="assets/images/sox-services2.jpg" class="object-fit w-96 xl:-mt-36 h-96"
          appImageViewer />
      </div>
    </app-hero-section>
    <section class="vs-margin-x vs-padding-x">
      <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 font-bold text-base xl:text-xl"  data-aos="fade-up" data-aos-duration="2000">
        <div class="grid grid-rows gap-4">
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out"
            [routerLink]="['/services/sox-internal-audit']" fragment="cs">Internal Audit Co-Sourcing ></h4>
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out"
            [routerLink]="['/services/sox-internal-audit']" fragment="fo">Internal Audit Full Outsourcing >
          </h4>
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out"
            [routerLink]="['/services/sox-internal-audit']" fragment="qar">Internal Audit Quality Assurance
            Review ></h4>
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out"
            [routerLink]="['/services/sox-internal-audit']" fragment="aca">Audit Committee Advisory ></h4>
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out"
            [routerLink]="['/services/sox-internal-audit']" fragment="fr">Fraud Reviews ></h4>
        </div>
        <div class="grid grid-rows-5 gap-4">
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out"
            [routerLink]="['/services/sox-internal-audit']" fragment="itas">IT Audit Services ></h4>
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out"
            [routerLink]="['/services/sox-internal-audit']" fragment="siap">Specialized Internal Audit Projects >
          </h4>
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out"
            [routerLink]="['/services/sox-internal-audit']" fragment="tprm">Third Party Risk Management ></h4>
          <h4 class="hover:tracking-wider transition-all duration-300 ease-in-out"
            [routerLink]="['/services/sox-internal-audit']" fragment="grc">Governance, Risk, and Compliance
            (GRC) ></h4>
        </div>
      </div>
      <p class="font-semibold my-12 text-lg">A Strategic Approach to Internal Audits
        <br>
        We align internal audit resources with stakeholder expectations and adopt an enterprise-wide risk approach. By
        assessing
        risk profiles and control maturity, we provide tailored internal audit services that deliver maximum value. Our
        focus is
        on transforming your internal audit function into a proactive, value-added capability by offering the right
        resources,
        at the right time, and in the right place.
        AI-based analytics can identify anomalies in large datasets for risk assessments.
      </p>
      <div class="grid grid-cols xl:grid-cols-2 gap-4 font-semibold text-lg">
        <div>
          <h5 class="text-lg font-bold">Establishing an Internal Audit Function</h5>
          <p>Our team has extensive experience in creating and implementing internal audit functions tailored to
            organizational
            needs:</p>
          <ul class="list-disc mx-6 my-4">
            <li>Setting up the Internal Audit function</li>
            <li>Developing a comprehensive annual Internal Audit plan</li>
            <li>Executing the Internal Audit plan and performing audits</li>
            <li>Reporting findings and insights</li>
          </ul>
        </div>
        <img src="assets/images/sox-services3.jpg" class="object-cover mt-8" loading="lazy" appImageViewer />
      </div>
    </section>
    <div>

    </div>
  </section>
  <section class="my-8 xl:m-20"   id="cs">
    <div class="vs-text-content" data-aos="fade-up" data-aos-duration="2000">
      <h4 class="vs-heading_xl">Internal Audit Co-Sourcing</h4>
      <p class="py-2">We provide co-sourcing arrangements to enhance your internal audit capabilities by supplementing
        your in-house team with
        specialized skills or offering project-based advisory services. Our approach focuses on transforming your
        internal audit
        program into a proactive, value-driven function.</p>
      <p class="py-2">Wealthworks Partners has supported organizations in adopting risk-based strategies, helping them
        evolve their internal
        audit function from a traditional, transaction-focused role into a strategic resource that delivers actionable
        business
        insights. With extensive industry experience and deep internal audit expertise, our consultants assist
        management in
        identifying critical risk areas for nearly any business type through a highly targeted and strategically driven
        approach.</p>
    </div>
  </section>

  <section class="vs-padding_default xl:p-20 clippy-1 bg-soa-bg-blue" id="fo">
    <div class="vs-text-content" data-aos="fade-up" data-aos-duration="2000">
      <h4 class="vs-heading_xl">Internal Audit Full Outsourcing</h4>
      <p class="py-2">By offering a fully outsourced internal audit solution, our internal audit services assist
        management in improving
        operations in a way that is both cost-effective and valuable. In addition to verifying transactions and
        balances, our
        method offers insights that improve your understanding of your company. In addition to offering prompt,
        effective
        services, Wealthworks Partners offers individualised advice to assist ensure a stable financial future. Clients
        demand
        more than simply standard internal audit services, and Wealthworks Partners is aware of this. Our procedure
        leverages
        expertise and skill sets to offer our clients recommendations that will improve their operational and financial
        efficiency.</p>
    </div>
  </section>

  <section class="my-8 xl:m-20" id="qar">
    <div class="vs-text-content"  data-aos="fade-up" data-aos-duration="2000">
      <h4 class="vs-heading_xl">Internal Audit Quality Assurance Review</h4>
      <p class="py-2">We provide comprehensive assessments of the internal audit function, enabling management to
        prioritize audit projects
        and evaluate the resources and skill sets required to effectively perform audit activities. Our tailored
        approach is
        designed to help organizations streamline and enhance the efficiency of their existing internal audit
        departments.</p>
    </div>
  </section>

  <section class="vs-padding_default xl:p-20 clippy-1 bg-soa-bg-blue" id="aca">
    <div class="vs-text-content" data-aos="fade-up" data-aos-duration="2000">
      <h4 class="vs-heading_xl">Audit Committee Advisory</h4>
      <p class="py-2">We deliver independent guidance to Audit Committees, addressing technical accounting challenges,
        enhancing corporate
        governance, evaluating the structure and efficiency of internal audit functions, assessing risks, and providing
        strategic advice on broader business risks.</p>
    </div>
  </section>


  <section class="my-8 xl:m-20" id="fr">
    <div class="vs-text-content" data-aos="fade-up" data-aos-duration="2000">
      <h4 class="vs-heading_xl">Fraud Reviews</h4>
      <p class="py-2">We focus on minimizing business risks to manageable levels, boosting your business's value, and
        adapting to the dynamic
        changes within your industry. Our expertise includes helping you set up an Anti-Fraud Program, ensuring it is
        effectively implemented and rigorously tested year-round.</p>
    </div>
  </section>

  <section class="vs-padding_default xl:p-20 clippy-1 bg-soa-bg-blue" id="itas">
    <div class="vs-text-content" data-aos="fade-up" data-aos-duration="2000">
      <h4 class="vs-heading_xl">IT Audit Services</h4>
      <p class="py-2">Our team of qualified IT professionals specializes in evaluating technology risks and controls,
        ensuring that the
        internal audit function aligns seamlessly with your company's business and IT strategies.</p>
    </div>
  </section>

  <section class="my-8 xl:m-20" id="siap">
    <div class="vs-text-content" data-aos="fade-up" data-aos-duration="2000">
      <h4 class="vs-heading_xl">Specialized Internal Audit Projects</h4>
      <p class="py-2">We provide continuous support to your internal team and systems for specialized internal audit
        projects. Using the COSO
        Framework for our Enterprise Risk Management (ERM) engagements, we tailor our workflows to address its core
        elements. In
        addition to ERM, organizations are increasingly focusing on two other key risk management areas: Third-Party
        Risk
        Management (TPRM) and Governance, Risk, and Compliance (GRC).</p>
    </div>
  </section>

  <section class="vs-padding_default xl:p-20 clippy-1 bg-soa-bg-blue" id="tprm">
    <div class="vs-text-content" data-aos="fade-up" data-aos-duration="2000">
      <h4 class="vs-heading_xl">Third Party Risk Management</h4>
      <p class="py-2">TPRM involves establishing a vendor risk rating system aligned with sourcing strategies, enabling
        efficient vendor
        onboarding, classification, offboarding, and the implementation of automated solutions and vendor data lakes.
      </p>
    </div>
  </section>

  <section class="my-8 xl:m-20" id="grc">
    <div class="vs-text-content" data-aos="fade-up" data-aos-duration="2000" >
      <h4 class="vs-heading_xl">Governance, Risk, and Compliance (GRC)</h4>
      <p class="py-2">GRC focuses on an organization's approach to assessing, controlling, defining, enforcing, and
        monitoring risks. It
        integrates and coordinates these activities to ensure a cohesive and effective risk management strategy.</p>
    </div>
  </section>

</div>
<app-more-info></app-more-info>
