<div class="text-justify xl:py-12 xl:pt-24">
  <app-hero-section>
    <div hero-content data-aos="fade-up" data-aos-duration="500">
      <p class="my-4 xl:my-12">
        Wealthworks Partners assists organizations in their efforts to build and execute comprehensive technology governance plan
        to manage a wide range of emerging risks and to meet internal and external stakeholder needs.
      </p>
      <p>
        We work with clients to assess technology risks, manage and mitigate the impacts of those risks to the business,
        and enable the organization to leverage technology.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/images/IT-general-second.jpg" class="xl:mt-12 object-cover w-screen" appImageViewer/>
    </div>
  </app-hero-section>
  <div class="px-20 py-4 bg-no-repeat xl:bg-repeat bg-[url('data:image/svg+xml;base64,PHN2ZyAgZmlsbD0iI2VmZjRmYSIgdmlld0JveD0iMCAwIDE5MjAgMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4gc2xpY2UiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgODg5LjIyIDE5MjAgNzM0LjI2IDEyNzkuOSAxMDM3Ljg4IDc4Ny42MSAwIDYzMi42NiAwIDEyMTMuNCAxMjI0LjM3IDE5MjAgODg5LjIyIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgNTc5LjMxIDE5MjAgNDI0LjM2IDE0MTIuODkgNjY0LjkgMTA5Ny41MSAwIDk0Mi41NiAwIDEzNDYuMzkgODUxLjM5IDE5MjAgNTc5LjMxIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgMjY5LjQxIDE5MjAgMTU3LjgxIDE4NDUuMTQgMCAxNjkwLjE5IDAgMTc3Ni43MiAxODIuNDIgMTU0NS44NyAyOTEuOTIgMTQzNi4zOCA2MS4wNyAxNTY1LjEzIDAgMTI1Mi40NiAwIDE0NzkuMzggNDc4LjQxIDE5MjAgMjY5LjQxIi8+CgkJCQkJCQkJCTwvZz48L3N2Zz4=')]">
    <section class="px-2">
    <div class="flex flex-wrap justify-around">
      <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
        <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-ITCompliance.png" />
        <h3 class="text-gray-700 text-2xl font-bold mt-4 mb-1">IT Compliance</h3>
        <a [routerLink]="['/services/it-compliance-advisory']" fragment="it-compliance" class="text-base font-semibold text-soa-link">Learn More ></a>
      </div>
      <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
        <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-ITSecurity.png" />
        <h3 class="text-gray-700 text-2xl font-bold mt-4 mb-1">Cyber Security & Privacy</h3>
        <a [routerLink]="['/services/it-compliance-advisory']" fragment="cyber-privacy" class="text-base font-semibold text-soa-link">Learn More ></a>
      </div>
      <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
        <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon_ITerp.png" />
        <h3 class="text-gray-700 text-2xl font-bold mt-4 mb-1">ERP Advisory</h3>
        <a [routerLink]="['/services/it-compliance-advisory']" fragment="erp-advisory" class="text-base font-semibold text-soa-link">Learn More ></a>
      </div>
    </div>
    </section>
  </div>
  <app-hero-section heading="IT SERVICE OFFERINGS" id="it-compliance">
    <div title>
      <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
        IT
      </h2>
      <h3 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2">
        Compliance
      </h3>
    </div>
  </app-hero-section>
  <section class="xl:mx-24">
    <div class="px-8 md:px-20 xl:px-64 text-lg font-semibold">
      <p>Wealthworks Partners assists organizations in their efforts to build and execute comprehensive technology compliance and
        governance plan to manage a wide range of emerging risks and to meet internal and external stakeholder needs.
      </p>
      <img src="assets/images/IT-Compliance-graphic1.jpg" class="my-8" loading="lazy" appImageViewer/>
    </div>
  </section>
  <app-hero-section heading="IT SERVICE OFFERINGS" id="cyber-privacy">
    <div title>
      <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
        Cybersecurity
      </h2>
      <h3 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2">
        & Privacy
      </h3>
    </div>
    <div hero-content>
      <p class="my-4">
        Wealthworks Partners assists organizations in their efforts to transform and optimize governance of cybersecurity and
        privacy resources, processes, and technology into business-enabling platforms while maintaining the
        confidentiality, integrity, and availability of critical information assets and functions.
        We understand effective cybersecurity and privacy management is based on People, Process and Technology.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/images/IT-graphic2.jpg" class="object-fit xl:-mt-32" appImageViewer/>
    </div>
  </app-hero-section>
  <app-hero-section heading="IT SERVICE OFFERINGS" id="erp-advisory">
    <div title>
      <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
        ERP
      </h2>
      <h3 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2">
        Advisory
      </h3>
    </div>
    <div hero-content>
      <p class="my-4">
        Wealthworks Partners provides clients a wholistic ERP solution from end-to-end implementations, system integrations, post-production support and security design. Wealthworks Partners experienced team comes from highly reputed organizations including Big4 firms and Fortune 100 companies.
      </p>
      <p class="my-4">
        The team has over 20 years of experience in implementations and accounting and have helped clients with technical troubleshooting, reporting, scripting, and overall system enhancements.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/images/ERP-new-graphic.jpg" class="object-fit xl:-mt-24" appImageViewer/>
    </div>
  </app-hero-section>
  <section class="xl:mx-24 my-12">
    <div class="px-8 md:px-20 xl:px-64 text-lg font-semibold grid grid-rows xl:grid-cols-2 gap-8">
      <img src="assets/images/banner-1200x627-alliance-partner-spotlight-winners-winter-2024-lq-031124-v2.jpg" class="h-48" appImageViewer loading="lazy"/>
      <img src="assets/images/logo-top-alliance-partner-biotech-biopharma-lq-030424-black.jpg" class="h-48" appImageViewer loading="lazy"/>
    </div>
  </section>
</div>
<app-more-info></app-more-info>
