<div class="text-justify vs-padding-y">
  <app-hero-section>
    <div hero-content data-aos="fade-up" data-aos-duration="500">
      <p class="vs-para-margin">
        Wealthworks Partners supports organizations in developing and implementing a thorough technology governance
        strategy
        aimed at addressing various emerging risks while fulfilling the requirements of both internal and external
        stakeholders.
      </p>
      <p>
        We collaborate with clients to evaluate technology-related risks, manage and reduce their potential impacts on
        the
        business, and empower the organization to effectively utilize technology.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/wwpts_new_images/IT-general-second.jpg" class="xl:mt-12 object-cover w-screen"
        appImageViewer />
    </div>
  </app-hero-section>
  <div
    class="vs-padding bg-no-repeat xl:bg-repeat bg-[url('data:image/svg+xml;base64,PHN2ZyAgZmlsbD0iI2VmZjRmYSIgdmlld0JveD0iMCAwIDE5MjAgMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4gc2xpY2UiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgODg5LjIyIDE5MjAgNzM0LjI2IDEyNzkuOSAxMDM3Ljg4IDc4Ny42MSAwIDYzMi42NiAwIDEyMTMuNCAxMjI0LjM3IDE5MjAgODg5LjIyIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgNTc5LjMxIDE5MjAgNDI0LjM2IDE0MTIuODkgNjY0LjkgMTA5Ny41MSAwIDk0Mi41NiAwIDEzNDYuMzkgODUxLjM5IDE5MjAgNTc5LjMxIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgMjY5LjQxIDE5MjAgMTU3LjgxIDE4NDUuMTQgMCAxNjkwLjE5IDAgMTc3Ni43MiAxODIuNDIgMTU0NS44NyAyOTEuOTIgMTQzNi4zOCA2MS4wNyAxNTY1LjEzIDAgMTI1Mi40NiAwIDE0NzkuMzggNDc4LjQxIDE5MjAgMjY5LjQxIi8+CgkJCQkJCQkJCTwvZz48L3N2Zz4=')]">
    <section class="px-2">
      <div class="flex flex-wrap justify-around">
        <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
          <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-ITCompliance.png" />
          <h3 class="vs-heading_2xl mt-4 mb-1">IT Compliance</h3>
          <a [routerLink]="['/services/it-compliance-advisory']" fragment="it-compliance"
            class="text-base font-semibold text-soa-link">Learn More ></a>
        </div>
        <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
          <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-ITSecurity.png" />
          <h3 class="vs-heading_2xl mt-4 mb-1">Cyber Security & Privacy</h3>
          <a [routerLink]="['/services/it-compliance-advisory']" fragment="cyber-privacy"
            class="text-base font-semibold text-soa-link">Learn More ></a>
        </div>
        <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
          <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon_ITerp.png" />
          <h3 class="vs-heading_2xl mt-4 mb-1">ERP Advisory</h3>
          <a [routerLink]="['/services/it-compliance-advisory']" fragment="erp-advisory"
            class="text-base font-semibold text-soa-link">Learn More ></a>
        </div>
      </div>
    </section>
  </div>
  <app-hero-section heading="IT SERVICE OFFERINGS" id="it-compliance">
    <div title>
      <h2 class="vs-heading">
        IT
      </h2>
      <h3 class="vs-heading_primary my-2">
        Compliance
      </h3>
    </div>
  </app-hero-section>
  <section class="vs-margin-x">
    <div class="vs-text-content">
      <p>In order to manage a variety of emerging risks and satisfy the demands of internal and external stakeholders,
        Wealthworks Partners helps organizations develop and implement thorough technology compliance and governance
        plans.
      </p>
      <img src="assets/images/IT-Compliance-graphic1.jpg" class="my-8" loading="lazy" appImageViewer />
    </div>
  </section>
  <app-hero-section heading="IT SERVICE OFFERINGS" id="cyber-privacy">
    <div title>
      <h2 class="vs-heading">
        Cybersecurity
      </h2>
      <h3 class="vs-heading_primary my-2">
        & Privacy
      </h3>
    </div>
    <div hero-content>
      <p>
        Wealthworks Partners helps businesses optimize the governance of cybersecurity and privacy resources,
        procedures, and
        technology to create platforms that support business operations while preserving the availability,
        confidentiality, and
        integrity of vital information assets and functions. We are aware that people, process, and technology are the
        foundation of efficient cybersecurity and privacy management.
      </p>
      <p>
        AI/ML can enhance threat detection by identifying unusual network activities.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/images/IT-graphic2.jpg" class="object-fit xl:-mt-32" appImageViewer />
    </div>
  </app-hero-section>
  <app-hero-section heading="IT SERVICE OFFERINGS" id="erp-advisory">
    <div title>
      <h2 class="vs-heading">
        ERP
      </h2>
      <h3 class="vs-heading_primary my-2">
        Advisory
      </h3>
    </div>
    <div hero-content>
      <p>
        Wealthworks Partners offers clients a comprehensive ERP solution that includes security design, post-production
        support,
        system integrations, and end-to-end implementations. The seasoned staff at Wealthworks Partners hails from
        prestigious
        institutions such as Fortune 100 businesses and Big4 firms.
      </p>
      <p>
        With more than two decades of experience in accounting and implementations, the team has assisted clients with
        technical
        troubleshooting, reporting, scripting, and general system improvements.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/images/ERP-new-graphic.jpg" class="object-fit xl:-mt-24" appImageViewer />
    </div>
  </app-hero-section>
  <!-- <section class="vs-margin-x my-12">
    <div class="vs-text-content grid grid-rows xl:grid-cols-2 gap-8">
      <img src="assets/images/banner-1200x627-alliance-partner-spotlight-winners-winter-2024-lq-031124-v2.jpg" class="h-48" appImageViewer loading="lazy"/>
      <img src="assets/images/logo-top-alliance-partner-biotech-biopharma-lq-030424-black.jpg" class="h-48" appImageViewer loading="lazy"/>
    </div>
  </section> -->
</div>
<app-more-info></app-more-info>