<div class="text-justify vs-padding-y">
    <app-hero-section>
        <div hero-content data-aos="fade-up" data-aos-duration="500">
            <p class="vs-para-margin">
                Wealthworks Partners specializes in deploying and optimizing Google's data centers and network
                infrastructure with high efficiency and security. Our services include network architecture design,
                cloud integration, hardware deployment, and security compliance, ensuring scalability, reliability, and
                minimal downtime.
            </p>
            <p>
                From Google Cloud data center setup to fiber network deployment and AI-driven automation, we deliver
                cost-effective, future-ready solutions tailored to your needs.
            </p>
        </div>
        <div hero-image>
            <img loading="lazy" src="assets/images/IT-general-second.jpg" class="xl:mt-12 object-cover w-screen"
                appImageViewer />
        </div>
    </app-hero-section>
    <div
        class="vs-padding bg-no-repeat xl:bg-repeat bg-[url('data:image/svg+xml;base64,PHN2ZyAgZmlsbD0iI2VmZjRmYSIgdmlld0JveD0iMCAwIDE5MjAgMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4gc2xpY2UiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgODg5LjIyIDE5MjAgNzM0LjI2IDEyNzkuOSAxMDM3Ljg4IDc4Ny42MSAwIDYzMi42NiAwIDEyMTMuNCAxMjI0LjM3IDE5MjAgODg5LjIyIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgNTc5LjMxIDE5MjAgNDI0LjM2IDE0MTIuODkgNjY0LjkgMTA5Ny41MSAwIDk0Mi41NiAwIDEzNDYuMzkgODUxLjM5IDE5MjAgNTc5LjMxIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgMjY5LjQxIDE5MjAgMTU3LjgxIDE4NDUuMTQgMCAxNjkwLjE5IDAgMTc3Ni43MiAxODIuNDIgMTU0NS44NyAyOTEuOTIgMTQzNi4zOCA2MS4wNyAxNTY1LjEzIDAgMTI1Mi40NiAwIDE0NzkuMzggNDc4LjQxIDE5MjAgMjY5LjQxIi8+CgkJCQkJCQkJCTwvZz48L3N2Zz4=')]">
        <section class="px-2">
            <div class="flex flex-wrap justify-around">
                <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
                    <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-ITCompliance.png" />
                    <h3 class="vs-heading_2xl mt-4 mb-1">Data Center Setup</h3>
                    <a [routerLink]="['/services/data-center-network-deployment']" fragment="data-center-setup"
                        class="text-base font-semibold text-soa-link">Learn More ></a>
                </div>
                <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
                    <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-ITSecurity.png" />
                    <h3 class="vs-heading_2xl mt-4 mb-1">Network Deployment</h3>
                    <a [routerLink]="['/services/data-center-network-deployment']" fragment="network-deployment"
                        class="text-base font-semibold text-soa-link">Learn More ></a>
                </div>
            </div>
        </section>
    </div>
    <app-hero-section heading="POWERING GOOGLE INFRASTRUCTURE" id="data-center-setup">
        <div title>
            <h2 class="vs-heading">
                Data center
            </h2>
            <h3 class="vs-heading_primary my-2">
                Setup
            </h3>
        </div>
        <div hero-content>
            <p>
                We provide end-to-end data center solutions, from site selection to full-scale deployment. Our team
                ensures seamless setup, migration, and optimization to maximize efficiency, uptime, and scalability.
            </p>
        </div>
        <div hero-image>
            <img loading="lazy" src="assets/images/data-center.jpg" class="object-fit xl:-mt-32" appImageViewer />
        </div>
    </app-hero-section>
    <section class="vs-margin-x">
        <div class="vs-text-content">
            <p class="text-xl">
                Key Features:
            </p>
            <ul class="list-disc">
                <li>
                    Security - &nbsp;Google's data centers use layered security, fault-tolerance, and built-in
                    redundancy.
                </li>
                <li>
                    Energy Efficiency - &nbsp;Google's data centers are among the world's most energy-efficient
                    facilities.
                </li>
                <li>
                    Storage - &nbsp;Google's data centers store content and perform computation.
                </li>
                <li>
                    Replication - &nbsp;Google's data centers replicate content across multiple sites for resilience.
                </li>
            </ul>
            <img src="assets/images/data-center-management.png" class="my-8" loading="lazy" appImageViewer />
        </div>
    </section>
    <app-hero-section heading="POWERING GOOGLE INFRASTRUCTURE" id="network-deployment">
        <div title>
            <h2 class="vs-heading">
                Network
            </h2>
            <h3 class="vs-heading_primary my-2">
                Deployment
            </h3>
        </div>
        <div hero-content>
            <p>
                Wealthworks Partners provide high-speed, secure, and scalable network solutions to support Google’s data
                centers and cloud infrastructure. Our expertise includes fiber-optic connectivity, software-defined
                networking (SDN), and 5G deployment, ensuring low-latency and high-reliability networks.
            </p>
            <p>
                With WealthWorks Partners, businesses get robust, future-ready network solutions for Google-powered
                digital transformation.
            </p>
        </div>
        <div hero-image>
            <img loading="lazy" src="assets/images/network-deployment-hero.png" class="object-fit xl:-mt-32"
                appImageViewer />
        </div>
    </app-hero-section>
    <section class="vs-margin-x">
        <div class="vs-text-content">
            <p class="text-lg">
                Key Features:
            </p>
            <ul class="list-disc">
                <li>
                    Network Connectivity Center - &nbsp;Connects different enterprise Securitynetworks together using
                    Google's
                    network.
                </li>
                <li>
                    Cloud Deploy - &nbsp;Creates CI/CD pipelines using Skaffold. It also offers canary deployment and
                    verification.
                </li>
                <li>
                    Google Cloud Platform regions - &nbsp;Google's data centers are connected by a large, specialized
                    data network.
                </li>
                <li>
                    Network Security & Compliance - &nbsp;Implementing Google's security best practices to protect
                    infrastructure from cyber threats.
                </li>
            </ul>
            <!-- <img src="assets/images/network-deployment.png" class="my-8" loading="lazy" appImageViewer /> -->
        </div>
    </section>
</div>
<app-more-info></app-more-info>