<ng-container>
  <app-services-landing [landimgImg]='"assets/images/wealthworks-home.jpeg"'>
    <div title>
      About <span class="bg-soa-highlight-prefix leading-normal">Wealthworks Partners</span>
    </div>
    <div description>
      Wealthworks Partners, Inc. is a leading professional advisory firm. Wealthworks Partners operates six world-class
      service lines that cover a broad range of professional services to support clients as they grow and navigate a
      shifting regulatory landscape.
    </div>
  </app-services-landing>
  <div class="text-justify pt-12 xl:pt-32" id="corporate-overview">
    <app-hero-section heading="SERVICING OUR CLIENTS SINCE 2025">
      <div title>
        <h2 class="vs-heading">
          Corporate
        </h2>
        <h3 class="vs-heading_primary my-2">
          Overview
        </h3>
      </div>
      <div hero-content>
        <p>
          Wealthworks Partners, Inc was established in California in February 2025 and is currently a prominent advisory
          firm that provides six service lines encompassing a wide array of professional services. Our service value
        proposition is strengthened by our expertise in the industry and our highly skilled professionals. Wealthworks
          Partners has built enduring connections with its clients by providing exceptional customer service and a
          distinctive range of services.
        </p>
        <p>
          Wealthworks Partners strategically chosen domestic and international sites enable the Company to fulfill the
          distinct project requirements of clients across the world.
        </p>
        <p>
          Wealthworks Partners is continually evaluating new regions to enhance service for current and prospective
          clients. Wealthworks Partners possesses essential resources located worldwide to support clients with
          international ventures, which includes strategically establishing a strong global presence in our clients’
          most pertinent foreign markets by recruiting talent and cultivating lasting partnerships. Wealthworks Partners' strategically located global offices utilize
          uniform methodologies, technical support, and risk evaluation techniques, enabling us to quickly assemble
          international teams when needed.
        </p>
      </div>
      <div hero-image>
        <img loading="lazy" src="assets/images/CorpOverview.jpg" class="object-cover w-screen xl:mt-20"
          appImageViewer />
      </div>
    </app-hero-section>
    <app-hero-section heading="INSPIRING COMMITMENT" id="vision-statement">
      <div title>
        <h2 class="vs-heading">
          Vision
        </h2>
        <h3 class="vs-heading_primary my-2">
          Statement
        </h3>
      </div>
      <div hero-content>
        <p>
          We are dedicated to luring top talent to our company, creating a stimulating work environment through
          diversity and collaboration, and guaranteeing outstanding career opportunities through steady growth and sound
          financial standing.
        </p>
        <p>
          We consider our employees to be our most valuable resource, and we aspire to be regularly listed among the
          "Best Places to Work" and to surpass client expectations in order to achieve outstanding outcomes. Our goal is
          to remain a stable, profitable business with the best reputation while upholding the highest standards of
          professionalism, integrity, and brand.
        </p>
        <p>
          By delivering timely value-added services, being responsive, producing an effective, easily accessible,
          high-quality product, and meeting project objectives while upholding commitment and moral principles, we hope
          to surpass client expectations.
        </p>
      </div>
      <div hero-image>
        <img loading="lazy" src="assets/images/iStock-693767352-2048x1279-1.jpg" class="object-cover w-screen xl:mt-20"
          appImageViewer />
      </div>
    </app-hero-section>
    <app-leadership id="leadership" [content]="leadershipData" source="about-us"></app-leadership>
  </div>
