<ng-container>
  <app-services-landing [landimgImg]='"assets/images/wealthworks-home.jpeg"'>
    <div title>
      About <span class="bg-soa-highlight-prefix leading-normal">Wealthworks Partners</span>
    </div>
    <div description>
      Wealthworks Partners, Inc. is a leading professional advisory firm. Wealthworks Partners operates six world-class service lines that
      cover a broad range of professional services to support clients as they grow and navigate a shifting regulatory
      landscape.
    </div>
  </app-services-landing>
  <div class="text-justify py-12 xl:pt-24" id="corporate-overview">
    <app-hero-section heading="SERVICING OUR CLIENTS SINCE 2004">
      <div title>
        <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
          Corporate
        </h2>
        <h3 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2">
          Overview
        </h3>
      </div>
      <div hero-content>
        <p class="my-4">
          Wealthworks Partners, Inc was incorporate in the State of California in February 2004 and now it is a leading
          professional advisory firm and offering six service lines that cover a broad range of professional services.
          Our
          value proposition for services offered thrives on our industry knowledge and top-tier professionals.
          Wealthworks Partners
          has established, longstanding relationships with its customers through top-tier customer service and a unique
          service offering.
        </p>
        <p class="my-4 ">
          Wealthworks Partners’ strategic domestic and international locations allow the Company to meet the unique project
          requirement needs of clients throughout North America, Europe, and Asia.
        </p>
        <p class="my-4 ">
          Wealthworks Partners currently has two domestic offices located in California and resources in 15 other states and is
          constantly assessing additional geographies to better serve existing and new clients. Wealthworks Partners has key
          resources positioned globally to assist clients with international operations, including strategically
          building an effective global presence in our clients’ most relevant foreign locations through recruiting
          resources and building long-term relationships with affiliate foreign firms over the last decade. Wealthworks Partners
          strategic worldwide locations share common methodologies, technical guidance, and risk assessment
          methodologies which facilitate our ability to mobilize international teams on short notice.
        </p>
      </div>
      <div hero-image>
        <img loading="lazy" src="assets/images/CorpOverview.jpg" class="object-cover w-screen xl:mt-20" appImageViewer/>
      </div>
    </app-hero-section>
    <app-hero-section heading="INSPIRING COMMITMENT" id="vision-statement">
      <div title>
        <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
          Vision
        </h2>
        <h3 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2">
          Statement
        </h3>
      </div>
      <div hero-content>
        <p class="my-4 ">
          We are committed to attract top talent into our firm, develop an enriching environment through diversity and teamwork while assuring stellar career opportunities by sustained growth and financial strengths.
        </p>
        <p class="my-4 ">
          We believe our professionals are our most important asset and we want to be consistently ranked in the “Best Places to work”, and achieve great results by exceeding client expectations.

          We wish to maintain the highest standards of integrity and professionalism and brand while maintaining a stable and profitable enterprise with highest reputation.
        </p>
        <p class="my-4 ">
          Our goal is to achieve results that exceed client expectation by providing timely value add services, responsiveness, an efficient, accessible, quality product, and achieving clients project goals maintaining dedication and ethical standards.
        </p>
        <p class="my-4 ">
          We believe in giving back to the community by engaging in various local and charitable initiatives.
        </p>
      </div>
      <div hero-image>
        <img loading="lazy" src="assets/images/iStock-693767352-2048x1279-1.jpg" class="object-cover w-screen xl:mt-20" appImageViewer/>
      </div>
    </app-hero-section>
    <app-leadership id="leadership" [content]="leadershipData" source="about-us"></app-leadership>
  </div>
