<app-services-landing [landimgImg]='"assets/images/Sox-landing.jpg"'>
  <div title>
    <span class="bg-soa-highlight-prefix leading-relaxed
    ">SOX</span><br/>
    Internal Audit
  </div>
  <div description>
    Through an array of SOX and Internal Audit services, Wealthworks Partners can implement and maintain a focused, effective, and efficient compliance program. Wealthworks Partners attracts and retains quality Internal Audit, SOX Compliance and IT professionals.
  </div>
</app-services-landing>
