<app-services-landing [landimgImg]='"assets/wwpts_new_images/Sox-landing.png"'>
  <div title>
    <span class="bg-soa-highlight-prefix leading-relaxed">SOX</span><br />
    Internal Audit
  </div>
  <div description>
    Wealthworks Partners offers a comprehensive suite of SOX and Internal Audit services designed to implement and
    sustain
    an effective, focused, and efficient compliance program. Our firm attracts and retains top-tier professionals in
    Internal Audit, SOX Compliance, and IT.
  </div>
</app-services-landing>