<div class="text-justify xl:py-12 xl:pt-24">
  <app-hero-section >
    <div hero-content data-aos="fade-up" data-aos-duration="500">
      <p class="my-4 xl:my-12">
        Highly experienced professionals help research, resolve, and document all accounting matters. Company
        professionals consist primarily of Big4 Alums and industry subject matter experts.
      </p>
      <p>
        Wealthworks Partners has served over 500 clients ranging from early stage to Fortune 100 companies from its inception in
        2004. We have advised and partnered with our clients, advising them on complex transactions and have provided
        critical support to companies before and during the public offering process, and continue to support many of
        these companies as a public entity.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/images/TA-3.jpg" class="xl:mt-12 object-cover w-screen" appImageViewer/>
    </div>
  </app-hero-section>
  <div class="px-20 py-4 bg-no-repeat xl:bg-repeat bg-[url('data:image/svg+xml;base64,PHN2ZyAgZmlsbD0iI2VmZjRmYSIgdmlld0JveD0iMCAwIDE5MjAgMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4gc2xpY2UiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgODg5LjIyIDE5MjAgNzM0LjI2IDEyNzkuOSAxMDM3Ljg4IDc4Ny42MSAwIDYzMi42NiAwIDEyMTMuNCAxMjI0LjM3IDE5MjAgODg5LjIyIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgNTc5LjMxIDE5MjAgNDI0LjM2IDE0MTIuODkgNjY0LjkgMTA5Ny41MSAwIDk0Mi41NiAwIDEzNDYuMzkgODUxLjM5IDE5MjAgNTc5LjMxIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgMjY5LjQxIDE5MjAgMTU3LjgxIDE4NDUuMTQgMCAxNjkwLjE5IDAgMTc3Ni43MiAxODIuNDIgMTU0NS44NyAyOTEuOTIgMTQzNi4zOCA2MS4wNyAxNTY1LjEzIDAgMTI1Mi40NiAwIDE0NzkuMzggNDc4LjQxIDE5MjAgMjY5LjQxIi8+CgkJCQkJCQkJCTwvZz48L3N2Zz4=')]">
    <section class="px-2">
    <div class="flex flex-wrap justify-around">
      <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
        <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/Asset-5.png" />
        <h3 class="text-gray-700 text-2xl font-bold mt-4 mb-1">Technical Accounting</h3>
        <a [routerLink]="['/services']" fragment="technical-accounting" class="text-base font-semibold text-soa-link">Learn More ></a>
      </div>
      <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
        <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/Asset-4.png" />
        <h3 class="text-gray-700 text-2xl font-bold mt-4 mb-1">IPO Services</h3>
        <a [routerLink]="['/services']" fragment="ipo-services" class="text-base font-semibold text-soa-link">Learn More ></a>
      </div>
      <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
        <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/Asset-3.png" />
        <h3 class="text-gray-700 text-2xl font-bold mt-4 mb-1">Revenue Recognition</h3>
        <a [routerLink]="['/services']" fragment="revenue-recognition" class="text-base font-semibold text-soa-link">Learn More ></a>
      </div>
      <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
        <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/Asset-2.png" />
        <h3 class="text-gray-700 text-2xl font-bold mt-4 mb-1">Equity Administration</h3>
        <a [routerLink]="['/services']" fragment="equity-administration" class="text-base font-semibold text-soa-link">Learn More ></a>
      </div>
    </div>
    </section>
  </div>
  <app-hero-section heading="TECHNICAL ACCOUNTING SERVICE OFFERINGS"  id="technical-accounting">
    <div title>
      <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
        Technical Accounting
      </h2>
      <h3 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2">
        & SEC Reporting
      </h3>
    </div>
    <div hero-content>
      <p class="my-4 xl:my-12">
        Technical know-how and subject matter expert professionals in the technical accounting group perform accounting
        research with a focus on obtaining a deep understanding of a client’s business.
      </p>
      <p>
        Wealthworks Partners provides management-level accounting and finance professionals from the Big4 with extensive industry
        expertise to assist clients with all their accounting needs.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/images/TA_services-graph1.jpg" class="object-cover w-screen xl:-mt-32" appImageViewer/>
    </div>
  </app-hero-section>

  <div>
    <app-hero-section heading="TECHNICAL ACCOUNTING SERVICE OFFERINGS" id="ipo-services">
      <div title>
        <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
          IPO & SPAC Merger
        </h2>
        <h3 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2">
          Transactions Assistance
        </h3>
      </div>
      <div hero-content>
        <p class="my-4 xl:my-12">
          Wealthworks Partners provides critical support to companies before and during the public offering process and continue
          to support as a public company.
        </p>
        <p>
          Comprehensive project management is crucial to the success of an IPO and SPAC transactions, and our
          experienced technical accounting teams led by partners provide project management as well as critical support
          of all technical accounting and financial reporting needs to satisfy the demands of any accelerated timelines.
        </p>
      </div>
      <div hero-image>
        <img loading="lazy" src="assets/images/IPO-SPAC-Service-Offerings.jpg" class="object-cover w-screen xl:mt-12" appImageViewer/>
      </div>
    </app-hero-section>

    <section class="my-8 xl:m-24">
      <div class="px-8 md:px-20 xl:px-64">
        <h4 class="text-xl font-bold">IPO Transactions Assistance</h4>
        <div class="flex flex-row justify-center">
          <img loading="lazy" class="my-4" src="assets/images/IPO-transactions-modern.jpg" appImageViewer/>
        </div>
      </div>
    </section>

    <section class="my-8 xl:m-24">
      <div class="px-8 md:px-20 xl:px-64">
        <h4 class="text-xl font-bold">SPAC Transactions Assistance</h4>
        <div class="flex flex-row justify-center">
          <img loading="lazy" class="my-4" src="assets/images/SPAC-Slide-modern.jpg" appImageViewer/>
        </div>
      </div>
    </section>
    <app-more-info></app-more-info>
    <section class="my-8 xl:m-24" id="revenue-recognition">
      <div class="px-8 md:px-20 xl:px-64">
        <div class="text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
          <h6>
            <app-heading textColor="black" heading="TECHNICAL ACCOUNTING SERVICE OFFERINGS"></app-heading>
          </h6>
          <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
            Revenue
          </h2>
          <h3 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2 mb-8">
            Recognition
          </h3>
          <div class="my-4 text-justify">
            <p>
              We have assisted numerous companies in adoption of ASC 606, Revenue from Contracts with Customers (the
              “Standard”); we believe you will benefit from the following:
            </p>
            <ul class="list-disc mx-6 my-4">
              <li class="">Our Industry Expertise</li>
              <li class="">Our extensive capabilities – access to process, ERP, and data experts as needed.</li>
              <li class="">Our pragmatic approach – We will strive to identify potential areas for improvement of
                revenue processes and systems, including accounting policies, people, financial reporting, business
                processes and systems.</li>
              <li class="">Our working style – We will collaborate with you and your team to get things done. </li>
            </ul>
            <p>
              We will assess the requirements of, and assist in developing an implementation plan for, the Standard,
              including in identifying key impacts on your revenue streams and contracts; identifying key accounting,
              billing, and other issues; identifying data gaps and new or revised control and process requirements;
              developing and implementing a plan to successfully adopt the Standard; and other matters that, while not
              directly related to the Standard, are yet to be addressed, and more specifically the capitalization,
              amortization and impairment of internal-use software development costs.
            </p>
            <p class="my-4">
              Our approach in implementing ASC 606 at a high-level, includes:
            </p>
            <div class="flex flex-row justify-center">
              <img loading="lazy" src="assets/images/Revenue-Recognition-modern.jpg" appImageViewer/>
            </div>
            <p class="mt-4">
              We also provide ad-hoc services, including but not limited to:
            </p>
            <ul class="list-disc mx-6 my-4">
              <li class="">Participation in deal-desk activities to ensure optimization of deal structures in light of
                identified business and accounting objectives.</li>
              <li class="">Operational revenue management and recognition support.</li>
              <li class="">Standalone selling prices analyses calculations.</li>
              <li class="">Significant financing components and material rights calculations.</li>
              <li class="">Capitalization and amortization of incremental costs of obtaining a contract, and contract
                fulfillment costs.</li>
              <li class="">Complex revenue contracts scheduling, recognition, and reporting in instances where our
                client does not use an automated revenue solution.</li>
            </ul>
          </div>

        </div>

      </div>
    </section>

    <section class="my-12 xl:m-24" id="equity-administration">
      <div class="px-8 md:px-20 xl:px-64">
        <div class="text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
          <h6>
            <app-heading textColor="black" heading="TECHNICAL ACCOUNTING SERVICE OFFERINGS"></app-heading>
          </h6>
          <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
            Equity Administration
          </h2>
          <h3 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2 mb-8">
            & Accounting
          </h3>
          <div class="my-4 text-justify">
            <p>Wealthworks Partners facilitates a one stop solution to all equity accounting and administration requirements to
              maximize efficiency at minimum cost. Our experienced Certified Equity Professionals work across many
              different equity software platforms, and they can assist in identifying the right software for the
              Company’s needs.
            </p>
            <div>
              <h5 class="mt-4 text-lg font-bold">Equity Administration</h5>
              <p>
                We provide a cost-effective solution, which allows our clients to remove redundancies in the process,
                with a central database for the cap table and equity information.
              </p>
              <p>
                Our team can help in managing all aspects of equity administration and are software platform agnostic,
                and our services include:
              </p>
              <ul class="list-disc mx-6 my-4">
                <li>Day-to-Day stock administration,</li>
                <li>Responding to employee questions,</li>
                <li>ESPP,</li>
                <li>RSU releases,</li>
                <li>Option exercises,</li>
                <li>Equity modifications,</li>
                <li>SEC filings</li>
              </ul>
              <p>Our team has extensive experience with equity software implementation and assistance in transitioning
                from existing legacy equity software platforms to one that is suitable for public company reporting
                requirements.</p>
              <div class="flex flex-col justify-center xl:px-36 m-8">
                <div class="flex flex-row justify-center m-2" data-aos="fade-up" data-aos-duration="2000">
                  <img loading="lazy" src="assets/images/TA-Equity-graphic1.png" appImageViewer/>
                </div>
                <div class="flex flex-row justify-center m-2">
                  <img loading="lazy" src="assets/images/Arrow.png" class="h-16 w-12" appImageViewer/>
                </div>
                <div class="flex flex-row justify-center m-2" data-aos="fade-up" data-aos-duration="2000">
                  <img loading="lazy" src="assets/images/TA-Equity-graphic3.png" appImageViewer/>
                </div>
                <div class="flex flex-row justify-center m-2">
                  <img loading="lazy" src="assets/images/Arrow.png" class="h-16 w-12" />
                </div>
                <div class="flex flex-row justify-center m-2" data-aos="fade-up" data-aos-duration="2000">
                  <img loading="lazy" src="assets/images/TA-Equity-graphic2.png" appImageViewer/>
                </div>
              </div>
            </div>
            <div>
              <h5 class="mt-4 text-lg font-bold">Equity Accounting</h5>
              <p>
                We have a dedicated team of technical accountants that are subject matter experts in stock-based
                compensation related matters and have assisted companies with:
              </p>
              <ul class="list-disc mx-6 my-4">
                <li>Accounting for grants of various equity awards including options,</li>
                <li>Restricted stock awards,</li>
                <li>Restricted Stock Units,</li>
                <li>Employee stock purchase plans,</li>
                <li>Stock appreciation rights, etc.</li>
              </ul>
              <p>We have advised companies in accounting for various equity award modifications including not limited to
                equity award repricing’s, exchanges, accelerations, and other related modifications.</p>
              <div class="xl:flex flex-col justify-center xl:px-36 m-8 hidden">
                <div class="flex flex-row justify-center m-2" data-aos="fade-right" data-aos-duration="2000">
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-1.png" class="h-72 w-72 mx-16" appImageViewer/>
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-2.png" class="h-72 w-72 mx-16" appImageViewer/>
                </div>
                <div class="flex flex-row justify-center m-8" data-aos="fade-left" data-aos-duration="2000">
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-3.png" class="h-72 w-72 mx-16" appImageViewer/>
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-4.png" class="h-72 w-72 mx-16" appImageViewer/>
                </div>
              </div>

              <div class="flex flex-col justify-center xl:px-36 m-8 xl:hidden">
                <div class="flex flex-row justify-center">
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-1.png" class="h-72 w-72 my-8" />
                </div>
                <div class="flex flex-row justify-center">
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-2.png" class="h-72 w-72 my-8" />
                </div>
                <div class="flex flex-row justify-center">
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-3.png" class="h-72 w-72 my-8" />
                </div>
                <div class="flex flex-row justify-center">
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-4.png" class="h-72 w-72 my-8" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

</div>
<app-more-info></app-more-info>
