<div class="text-justify xl:py-12 xl:pt-24">
  <app-hero-section>
    <div hero-content data-aos="fade-up" data-aos-duration="500">
      <p class="my-4 xl:my-12">
        Our team of highly skilled professionals assists in researching, resolving, and documenting all accounting
        issues. The
        professionals at the company are specialists in their respective fields.
      </p>
      <p>
        Since its establishment in 2025, Wealthworks Partners has provided services to numerous clients in their early
        stages.
        We have collaborated with and advised our clients on intricate transactions and have delivered essential support
        to
        companies throughout the public offering process, continuing to assist many of these firms as publicly traded
        entities.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/images/TA-3.jpg" class="xl:mt-12 object-cover w-screen" appImageViewer />
    </div>
  </app-hero-section>
  <div
    class="px-20 py-4 bg-no-repeat xl:bg-repeat bg-[url('data:image/svg+xml;base64,PHN2ZyAgZmlsbD0iI2VmZjRmYSIgdmlld0JveD0iMCAwIDE5MjAgMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4gc2xpY2UiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgODg5LjIyIDE5MjAgNzM0LjI2IDEyNzkuOSAxMDM3Ljg4IDc4Ny42MSAwIDYzMi42NiAwIDEyMTMuNCAxMjI0LjM3IDE5MjAgODg5LjIyIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgNTc5LjMxIDE5MjAgNDI0LjM2IDE0MTIuODkgNjY0LjkgMTA5Ny41MSAwIDk0Mi41NiAwIDEzNDYuMzkgODUxLjM5IDE5MjAgNTc5LjMxIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgMjY5LjQxIDE5MjAgMTU3LjgxIDE4NDUuMTQgMCAxNjkwLjE5IDAgMTc3Ni43MiAxODIuNDIgMTU0NS44NyAyOTEuOTIgMTQzNi4zOCA2MS4wNyAxNTY1LjEzIDAgMTI1Mi40NiAwIDE0NzkuMzggNDc4LjQxIDE5MjAgMjY5LjQxIi8+CgkJCQkJCQkJCTwvZz48L3N2Zz4=')]">
    <section class="px-2">
      <div class="flex flex-wrap justify-around">
        <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
          <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/Asset-5.png" />
          <h3 class="text-gray-700 text-2xl font-bold mt-4 mb-1">Technical Accounting</h3>
          <a [routerLink]="['/services']" fragment="technical-accounting"
            class="text-base font-semibold text-soa-link">Learn More ></a>
        </div>
        <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
          <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/Asset-4.png" />
          <h3 class="text-gray-700 text-2xl font-bold mt-4 mb-1">IPO Services</h3>
          <a [routerLink]="['/services']" fragment="ipo-services" class="text-base font-semibold text-soa-link">Learn
            More ></a>
        </div>
        <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
          <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/Asset-3.png" />
          <h3 class="text-gray-700 text-2xl font-bold mt-4 mb-1">Revenue Recognition</h3>
          <a [routerLink]="['/services']" fragment="revenue-recognition"
            class="text-base font-semibold text-soa-link">Learn More ></a>
        </div>
        <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
          <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/Asset-2.png" />
          <h3 class="text-gray-700 text-2xl font-bold mt-4 mb-1">Equity Administration</h3>
          <a [routerLink]="['/services']" fragment="equity-administration"
            class="text-base font-semibold text-soa-link">Learn More ></a>
        </div>
      </div>
    </section>
  </div>
  <app-hero-section heading="TECHNICAL ACCOUNTING SERVICE SOLUTIONS" id="technical-accounting">
    <div title>
      <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
        Technical Accounting
      </h2>
      <h3 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2">
        & SEC Reporting
      </h3>
    </div>
    <div hero-content>
      <p class="my-4 xl:my-12">
        Professionals in the technical accounting group, equipped with specialized knowledge and expertise, engage in
        accounting
        research aimed at gaining a comprehensive understanding of a client's operations.
      </p>
      <p>
        Wealthworks Partners offers seasoned accounting and finance professionals with significant industry experience
        to
        support clients with their accounting requirements.
      </p>
    </div>
    <div hero-image>
      <img loading="lazy" src="assets/images/TA_services-graph1.jpg" class="object-cover w-screen xl:-mt-32"
        appImageViewer />
    </div>
  </app-hero-section>

  <div>
    <app-hero-section heading="TECHNICAL ACCOUNTING SERVICE SOLUTIONS" id="ipo-services">
      <div title>
        <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
          IPO & SPAC Merger
        </h2>
        <h3 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2">
          Transactions Assistance
        </h3>
      </div>
      <div hero-content>
        <p class="my-4 xl:my-12">
          Wealthworks Partners offers vital assistance to businesses both prior to and during the process of a public
          offering and
          even after the company goes public.
        </p>
        <p>
          The success of an IPO and SPAC transaction depends on thorough project management. To meet the demands of any
          accelerated timelines, our skilled technical accounting teams, led by partners, offer project management in
          addition to
          vital support for all technical accounting and financial reporting requirements.
        </p>
      </div>
      <div hero-image>
        <img loading="lazy" src="assets/images/IPO-SPAC-Service-Offerings.jpg" class="object-cover w-screen xl:mt-12"
          appImageViewer />
      </div>
    </app-hero-section>

    <section class="my-8 xl:m-24">
      <div class="px-8 md:px-20 xl:px-64">
        <h4 class="text-xl font-bold">IPO Transactions Assistance</h4>
        <div class="flex flex-row justify-center">
          <img loading="lazy" class="my-4" src="assets/images/IPO-transactions-modern.jpg" appImageViewer />
        </div>
      </div>
    </section>

    <section class="my-8 xl:m-24">
      <div class="px-8 md:px-20 xl:px-64">
        <h4 class="text-xl font-bold">SPAC Transactions Assistance</h4>
        <div class="flex flex-row justify-center">
          <img loading="lazy" class="my-4" src="assets/images/SPAC-Slide-modern.jpg" appImageViewer />
        </div>
      </div>
    </section>
    <app-more-info></app-more-info>
    <section class="my-8 xl:m-24" id="revenue-recognition">
      <div class="px-8 md:px-20 xl:px-64">
        <div class="text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
          <h6>
            <app-heading textColor="black" heading="TECHNICAL ACCOUNTING SERVICE SOLUTIONS"></app-heading>
          </h6>
          <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
            Revenue
          </h2>
          <h3 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2 mb-8">
            Recognition
          </h3>
          <div class="my-4 text-justify">
            <p>
              We have supported numerous companies in implementing ASC 606, Revenue from Contracts with Customers (The
              “Standard”),
              and offer the following benefits:
            </p>
            <ul class="list-disc mx-6 my-4">
              <li class="">Industry Expertise - Deep knowledge across various industries to address your unique
                challenges.</li>
              <li class="">Comprehensive Capabilities - Access to experts in process optimization, ERP systems, and data
                analysis.</li>
              <li class="">Pragmatic Approach - A focus on identifying opportunities to enhance revenue processes and
                systems, including accounting
                policies, personnel, financial reporting, and business operations.</li>
              <li class="">Collaborative Working Style - Partnering closely with your team to achieve seamless and
                effective implementation.</li>
            </ul>
            <p>
              We provide predictive models that can identify potential discrepancies in revenue recognition.
              We will evaluate your requirements and help develop a comprehensive implementation plan for the Standard.
              This includes:
            </p>
            <ul class="list-disc mx-6 my-4">
              <li>Identifying key impacts on revenue streams and contracts.</li>
              <li>Addressing critical accounting, billing, and other related issues.</li>
              <li>Detecting data gaps and defining new or revised control and process requirements.</li>
              <li>Creating and executing a plan for the successful adoption of the Standard.</li>
              <li>Resolving additional matters, such as the capitalization, amortization, and impairment of internal-use
                software
                development costs.</li>
            </ul>
            <p class="my-4">
              Our goal is to ensure a seamless and thorough implementation process.
              <br>
              Our High-Level Approach to Implementing ASC 606 Includes:
            </p>
            <div class="flex flex-row justify-center">
              <img loading="lazy" src="assets/images/Revenue-Recognition-modern.jpg" appImageViewer />
            </div>
            <p class="mt-4">
              Additionally, we offer a range of ad-hoc services, including but not limited to: </p>
            <ul class="list-disc mx-6 my-4">
              <li class="">Supporting deal-desk activities to optimize deal structures based on business and accounting
                objectives.</li>
              <li class="">Providing operational revenue management and recognition assistance.
              </li>
              <li class="">Performing standalone selling price analysis and calculations.
              </li>
              <li class="">Calculating significant financing components and material rights.
              </li>
              <li class="">Managing the capitalization and amortization of incremental costs for obtaining and
                fulfilling contracts.</li>
              <li class="">Scheduling, recognizing, and reporting complex revenue contracts, particularly for clients
                without automated revenue
                solutions.</li>
            </ul>
          </div>
          <p>Our services are designed to address your unique needs and ensure seamless
            compliance with ASC 606.
          </p>
        </div>

      </div>
    </section>

    <section class="my-12 xl:m-24" id="equity-administration">
      <div class="px-8 md:px-20 xl:px-64">
        <div class="text-lg font-semibold" data-aos="fade-up" data-aos-duration="2000">
          <h6>
            <app-heading textColor="black" heading="TECHNICAL ACCOUNTING SERVICE SOLUTIONS"></app-heading>
          </h6>
          <h2 class="text-gray-700 text-3xl xl:text-5xl font-bold">
            Equity Administration
          </h2>
          <h3 class="text-soa-primary text-3xl xl:text-5xl font-bold my-2 mb-8">
            & Accounting
          </h3>
          <div class="my-4 text-justify">
            <p>Wealthworks Partners offers a comprehensive, cost-effective solution for all equity accounting and
              administration needs,
              helping clients enhance efficiency while minimizing costs. Our Certified Equity Professionals are
              proficient across
              various equity software platforms and can assist in selecting the most suitable software for your
              company's
              requirements.
            </p>
            <div>
              <h5 class="mt-4 text-lg font-bold">Equity Administration</h5>
              <p>
                We streamline equity administration by eliminating redundancies and centralizing cap table and equity
                information into a
                single database.
              </p>
              <p>
                Our platform-agnostic team provides end-to-end equity management services, including:
              </p>
              <ul class="list-disc mx-6 my-4">
                <li>Daily stock administration</li>
                <li>Addressing employee inquiries</li>
                <li>ESPP management</li>
                <li>RSU releases</li>
                <li>Option exercises</li>
                <li>Equity modifications</li>
                <li>SEC filings</li>
              </ul>
              <p>With extensive expertise, our team supports equity software implementation and facilitates smooth
                transitions from
                legacy platforms to systems optimized for public company reporting requirements.
                <br>
                AI can streamline the management of stock options, vesting schedules, and compliance reporting.
              </p>
              <div class="flex flex-col justify-center xl:px-36 m-8">
                <div class="flex flex-row justify-center m-2" data-aos="fade-up" data-aos-duration="2000">
                  <img loading="lazy" src="assets/images/TA-Equity-graphic1.png" appImageViewer />
                </div>
                <div class="flex flex-row justify-center m-2">
                  <img loading="lazy" src="assets/images/Arrow.png" class="h-16 w-12" appImageViewer />
                </div>
                <div class="flex flex-row justify-center m-2" data-aos="fade-up" data-aos-duration="2000">
                  <img loading="lazy" src="assets/images/TA-Equity-graphic3.png" appImageViewer />
                </div>
                <div class="flex flex-row justify-center m-2">
                  <img loading="lazy" src="assets/images/Arrow.png" class="h-16 w-12" />
                </div>
                <div class="flex flex-row justify-center m-2" data-aos="fade-up" data-aos-duration="2000">
                  <img loading="lazy" src="assets/images/TA-Equity-graphic2.png" appImageViewer />
                </div>
              </div>
            </div>
            <div>
              <h5 class="mt-4 text-lg font-bold">Equity Accounting</h5>
              <p>
                Our specialized team of technical accountants are experts in stock-based compensation and provide
                support in:
              </p>
              <ul class="list-disc mx-6 my-4">
                <li>Accounting for various equity awards, such as options, restricted stock awards, RSUs, ESPPs, and
                  stock appreciation
                  rights.</li>
                <li>Advising on accounting for equity award modifications, including repricings, exchanges,
                  accelerations, and other related
                  adjustments.</li>
              </ul>
              <p>We ensure that our clients receive tailored solutions for all equity accounting and administration
                needs.</p>
              <div class="xl:flex flex-col justify-center xl:px-36 m-8 hidden">
                <div class="flex flex-row justify-center m-2" data-aos="fade-right" data-aos-duration="2000">
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-1.png" class="h-72 w-72 mx-16"
                    appImageViewer />
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-2.png" class="h-72 w-72 mx-16"
                    appImageViewer />
                </div>
                <div class="flex flex-row justify-center m-8" data-aos="fade-left" data-aos-duration="2000">
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-3.png" class="h-72 w-72 mx-16"
                    appImageViewer />
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-4.png" class="h-72 w-72 mx-16"
                    appImageViewer />
                </div>
              </div>

              <div class="flex flex-col justify-center xl:px-36 m-8 xl:hidden">
                <div class="flex flex-row justify-center">
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-1.png" class="h-72 w-72 my-8" />
                </div>
                <div class="flex flex-row justify-center">
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-2.png" class="h-72 w-72 my-8" />
                </div>
                <div class="flex flex-row justify-center">
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-3.png" class="h-72 w-72 my-8" />
                </div>
                <div class="flex flex-row justify-center">
                  <img loading="lazy" src="assets/images/Equity-Administration-Box-4.png" class="h-72 w-72 my-8" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

</div>
<app-more-info></app-more-info>