<div class="text-justify vs-padding-y">
    <app-hero-section>
        <div hero-content data-aos="fade-up" data-aos-duration="500">
            <p class="vs-para-margin">
                At WealthWorks Partners, we specialize in Salesforce Cloud implementation, optimization, and
                integration, enabling businesses to streamline sales, marketing, and customer service. Our experts
                design customized Salesforce solutions that leverage AI, automation, and real-time analytics to drive
                customer engagement and revenue growth.
            </p>
            <p>
                From Sales Cloud and Service Cloud to Marketing Cloud and AI-powered automation, we ensure a seamless
                and scalable CRM experience tailored to your business needs. Whether you're looking to implement
                Salesforce from scratch, optimize existing workflows, or integrate it with other enterprise systems, our
                team delivers cutting-edge solutions for a data-driven, customer-centric strategy.
            </p>
        </div>
        <div hero-image>
            <img loading="lazy" src="assets/images/salesforce_hero.png" class="xl:mt-24 object-cover w-screen"
                appImageViewer />
        </div>
    </app-hero-section>
    <div
        class="md:vs-padding bg-no-repeat xl:bg-repeat bg-[url('data:image/svg+xml;base64,PHN2ZyAgZmlsbD0iI2VmZjRmYSIgdmlld0JveD0iMCAwIDE5MjAgMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4gc2xpY2UiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgODg5LjIyIDE5MjAgNzM0LjI2IDEyNzkuOSAxMDM3Ljg4IDc4Ny42MSAwIDYzMi42NiAwIDEyMTMuNCAxMjI0LjM3IDE5MjAgODg5LjIyIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgNTc5LjMxIDE5MjAgNDI0LjM2IDE0MTIuODkgNjY0LjkgMTA5Ny41MSAwIDk0Mi41NiAwIDEzNDYuMzkgODUxLjM5IDE5MjAgNTc5LjMxIi8+CgkJCQkJCQkJCQk8cG9seWdvbiBwb2ludHM9IjE5MjAgMjY5LjQxIDE5MjAgMTU3LjgxIDE4NDUuMTQgMCAxNjkwLjE5IDAgMTc3Ni43MiAxODIuNDIgMTU0NS44NyAyOTEuOTIgMTQzNi4zOCA2MS4wNyAxNTY1LjEzIDAgMTI1Mi40NiAwIDE0NzkuMzggNDc4LjQxIDE5MjAgMjY5LjQxIi8+CgkJCQkJCQkJCTwvZz48L3N2Zz4=')]">
        <section class="px-2">
            <div class="flex flex-wrap justify-around">
                <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
                    <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-robot-business.png" />
                    <h3 class="vs-heading_2xl mt-4 mb-1">Salesforce Implementation & Customization</h3>
                    <a [routerLink]="['/services/salesforce-cloud']" fragment="implementation"
                        class="text-base font-semibold text-soa-link">Learn More ></a>
                </div>
                <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
                    <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-robot-audit-cropped.png" />
                    <h3 class="vs-heading_2xl mt-4 mb-1">Salesforce Integration & Data Intelligence</h3>
                    <a [routerLink]="['/services/salesforce-cloud']" fragment="integration"
                        class="text-base font-semibold text-soa-link">Learn More ></a>
                </div>
                <div class="flex flex-col text-left w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
                    <img loading="lazy" class="h-16 w-16 object-fit" src="assets/images/icon-robot.png" />
                    <h3 class="vs-heading_2xl mt-4 mb-1">Salesforce Managed Services & Security</h3>
                    <a [routerLink]="['/services/salesforce-cloud']" fragment="security"
                        class="text-base font-semibold text-soa-link">Learn More ></a>
                </div>
            </div>
        </section>
    </div>
    <div class="">
        <app-hero-section heading="SMART SALESFORCE SOLUTIONS" id="implementation">
            <div title>
                <h2 class="vs-heading">Salesforce Implementation</h2>
                <h3 class="vs-heading_primary my-2">& Customization</h3>
            </div>
        </app-hero-section>
        <section class="vs-margin-x mb-5">
            <div class="vs-text-content">
                <div class="grid grid-cols-1 xl:grid-cols-2 content-start gap-12">
                    <div class="flex items-center">
                        <p>
                            We help businesses seamlessly implement and customize Salesforce Cloud, ensuring
                            it aligns with their workflows and business objectives. From sales automation to AI-driven
                            customer engagement, our solutions drive efficiency and revenue
                            growth.
                        </p>
                    </div>
                    <div class="">
                        <img src="assets/images/salesforce_img_1.jpg" class="my-2 align-top" loading="lazy"
                            appImageViewer />
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="bg-soa-bg-blue py-12">
        <app-hero-section heading="SMART SALESFORCE SOLUTIONS" id="integration">
            <div title>
                <h2 class="vs-heading">Salesforce Integration</h2>
                <h3 class="vs-heading_primary my-2">& Data Intelligence</h3>
            </div>
        </app-hero-section>
        <section class="vs-margin-x">
            <div class="vs-text-content">
                <p class="my-2">
                    Seamless Connectivity & Smart Insights for Data-Driven Decisions
                    <br>
                    WealthWorks Partners integration solutions ensure Salesforce connects with existing enterprise
                    applications, creating a unified ecosystem for enhanced operational efficiency and data-driven
                    decision-making.
                </p>
                <ul class="list-disc mx-6 my-4">
                    <li>
                        ERP, Third-Party App & API Integration - &nbsp;Seamlessly connect Salesforce with ERP, HR,
                        finance, and other business systems.
                    </li>
                    <li>
                        Secure Data Migration & Synchronization - &nbsp;Safeguard business-critical data while
                        transitioning from legacy systems.
                    </li>
                    <li>
                        Real-Time Dashboard, Reporting & Predictive Analytics - &nbsp;Utilize AI-driven insights for
                        sales forecasting and business strategy.
                    </li>
                </ul>
                <div class="flex flex-row justify-center md:pt-5">
                    <img src="assets/images/salesforce_img_2.png" class="" loading="lazy" appImageViewer />
                </div>
            </div>
        </section>
    </div>

    <div class="py-8">
        <app-hero-section heading="SMART SALESFORCE SOLUTIONS" id="security">
            <div title>
                <h2 class="vs-heading">Salesforce Managed Services</h2>
                <h3 class="vs-heading_primary my-2">& Security</h3>
            </div>
        </app-hero-section>
        <section class="vs-margin-x">
            <div class="vs-text-content">
                <div class="grid grid-cols-1 xl:grid-cols-2 gap-8">
                    <div>
                        <p class="my-2">
                            We provide ongoing Salesforce maintenance, security, and support to ensure businesses
                            operate smoothly while meeting industry compliance standards.
                        </p>
                        <p class="my-2">
                            With WealthWorks Partners, businesses can unlock the full potential of Salesforce Cloud,
                            ensuring scalability, automation, and customer-driven growth.
                        </p>
                        <p>Key Offerings:</p>
                        <ul class="list-disc mx-6 my-4">
                            <li>24/7 Monitoring, Upgrades & Feature Enhancements</li>
                            <li>Role-Based Access Control & Data Compliance</li>
                            <li>Security, Threat Protection & Multi-Factor Authentication</li>
                        </ul>
                    </div>
                    <div class="flex items-center">
                        <img src="assets/images/salesforce_img_3.jpg" loading="lazy" appImageViewer />
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<app-more-info></app-more-info>