<div class="py-64 xl:py-32 bg-black bg-opacity-60 bg-[url('/assets/images/buildings-scaled.jpg')] bg-blend-darken text-white clippy">
  <div class="p-8 md:px-20 xl:px-40" data-aos="zoom-in" data-aos-duration="2000">
    <div class="text-lg font-semibold">
      <h6><app-heading textColor="white" [heading]="content.props.title"></app-heading></h6>
      <h2 class="text-white text-3xl xl:text-5xl font-bold my-2">
        {{ content.props.heading[0]}}
      </h2>
      <h4 class="text-soa-primary text-2xl xl:text-5xl font-bold my-2">
        {{ content.props.heading[1]}}
      </h4>
    </div>
  </div>
  <div class="px-8 md:px-20 xl:px-64 xl:py-12">
    <div class="grid grid-rows md:grid-cols-2 xl:grid-rows-none xl:grid-cols-[auto-fit] xl:gap-4 py-8 xl:p-0 justify-center" style="grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));">
      @for (leader of content.props.content.leaders; track leader) {

        <div class="text-center my-4">
          <img loading="lazy" class="px-20 object-fit mx-auto" [src]="leader.path" />
          <div class="text-base mt-4 font-bold">
            {{ leader.name}}
          </div>
          <div class="text-sm italic font-semibold">
            {{ leader.role}}
          </div>
          <ng-container *ngIf="source == 'about-us'">
            <div class="text-sm mt-2" >
              <a class="underline" href={{leader.site}} target="_blank">View More</a>
            </div>
            <div class="text-base m-1 font-bold">
              <span nz-icon nzType="linkedin" nzTheme="outline"></span>
            </div>
          </ng-container>
        </div>
      }
    </div>
  </div>
  <div class="flex flex-row justify-center m-8 transition-all duration-300 ease-in-out" *ngIf="source != 'about-us'">
    <button [routerLink]="['/about-us']" fragment="leadership" class="bg-white text-soa-primary px-4 py-2 font-semibold text-lg border-2 border-soa-primary hover:bg-soa-primary hover:text-white hover:mr-2">Leadership Team
      <span nz-icon nzType="arrow-right" nzTheme="outline" class="font-extralight mx-1" data-aos="fade-right" data-aos-duration="2000"></span></button>
  </div>
</div>
